Data Exploration

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import DecimalType
import pandas as pd

In [2]:
#Helper for pretty formatting for Spark DataFrames
def showDF(df, limitRows = 20, truncate = True):
    if(truncate):
        pd.set_option('display.max_colwidth',50)
        pd.reset_option('display.max_colwidth')      
    else:
        pd.set_option('display.max_colwidth',None)
    pd.set_option('display.max_rows', limitRows)
    display(df.limit(limitRows).toPandas())
    pd.reset_option('display.max_rows')

In [ ]:
#Creating a spark session
spark = SparkSession.builder.appName("WDI Data Exploration").getOrCreate()

In [4]:
#Read the file "WDICountry.csv" into a Spark Data Frame
df_country = spark.read.format("csv") \
            .option("header","true") \
            .option("inferSchema","true") \
            .load("WDICountry.csv")

In [5]:
#Inspect the schema
df_country.printSchema()

root
 |-- Country Code: string (nullable = true)
 |-- Short Name: string (nullable = true)
 |-- Table Name: string (nullable = true)
 |-- Long Name: string (nullable = true)
 |-- 2-alpha code: string (nullable = true)
 |-- Currency Unit: string (nullable = true)
 |-- Special Notes: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Income Group: string (nullable = true)
 |-- WB-2 code: string (nullable = true)
 |-- National accounts base year: string (nullable = true)
 |-- National accounts reference year: string (nullable = true)
 |-- SNA price valuation: string (nullable = true)
 |-- Lending category: string (nullable = true)
 |-- Other groups: string (nullable = true)
 |-- System of National Accounts: string (nullable = true)
 |-- Alternative conversion factor: string (nullable = true)
 |-- PPP survey year: string (nullable = true)
 |-- Balance of Payments Manual in use: string (nullable = true)
 |-- External debt Reporting status: string (nullable = true)
 |-- System of trade: string (nullable = true)
 |-- Government Accounting concept: string (nullable = true)
 |-- IMF data dissemination standard: string (nullable = true)
 |-- Latest population census: string (nullable = true)
 |-- Latest household survey: string (nullable = true)
 |-- Source of most recent Income and expenditure data: string (nullable = true)
 |-- Vital registration complete: string (nullable = true)
 |-- Latest agricultural census: string (nullable = true)
 |-- Latest industrial data: integer (nullable = true)
 |-- Latest trade data: integer (nullable = true)

In [6]:
# Use the helper function to display the DataFrame with all columns and content fully visible
showDF(df_country, truncate = False)

24/07/27 23:09:29 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,None,Latin America & Caribbean,High income,AW,...,General trade system,None,Enhanced General Data Dissemination System (e-GDDS),2020 (expected),None,None,Yes,None,NaN,2018.0
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,None,"26 countries, stretching from the Red Sea in the North to the Cape of Good Hope in the South (https://www.worldbank.org/en/region/afr/eastern-and-southern-africa)",None,None,ZH,...,None,None,None,None,None,None,None,None,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,"The reporting period for national accounts data is designated as either calendar year basis (CY) or fiscal year basis (FY). For this country, it is fiscal year-based (fiscal year-end: March 20). Also, an estimate (PA.NUS.ATLS) of the exchange rate covers the same period and thus differs from the official exchange rate (CY).",None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
3,In addition,the World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country,multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country,"this applies to the period 1960-2006. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.""",South Asia,Low income,AF,2016,None,Value added at basic prices (VAB),...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",None,None,None,2018,None,NaN,NaN
4,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,None,"22 countries, stretching from the westernmost point of Africa, across the equator, and partly along the Atlantic Ocean till the Republic of Congo in the South (https://www.worldbank.org/en/region/afr/western-and-central-africa)",None,None,ZI,...,None,None,None,None,None,None,None,None,NaN,NaN
5,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"The World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country, multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country, this applies to the period 1994-2021. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.",Sub-Saharan Africa,Lower middle income,AO,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",None,None,NaN,2018.0
6,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,None,Europe & Central Asia,Upper middle income,AL,...,Special trade system,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),2020 (expected),"Demographic and Health Survey, 2017/18","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2012,2013.0,2018.0
7,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,None,Europe & Central Asia,High income,AD,...,General trade system,None,None,2011. Population figures compiled from administrative registers.,None,None,Yes,None,NaN,2018.0
8,ARB,Arab World,Arab World,Arab World,1A,None,Arab World aggregate. Arab World is composed of members of the League of Arab States.,None,None,1A,...,None,None,None,None,None,None,None,None,NaN,NaN
9,ARE,United Arab Emirates,United Arab Emirates,United Arab Emirates,AE,U.A.E. dirham,None,Middle East & North Africa,High income,AE,...,Special trade system,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),2020 (expected),"World Health Survey, 2003",None,Yes,2012,1985.0,2018.0
10,ARG,Argentina,Argentina,Argentine Republic,AR,Argentine peso,"The World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country, multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country, this applies to the period 1971-2018. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.",Latin America & Caribbean,Upper middle income,AR,...,Special trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2020 (expected),"Multiple Indicator Cluster Survey, 2019/20","Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0
11,ARM,Armenia,Armenia,Republic of Armenia,AM,Armenian dram,None,Europe & Central Asia,Upper middle income,AM,...,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2020 (expected),"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2016",Yes,2014,NaN,2018.0
12,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,None,East Asia & Pacific,Upper middle income,AS,...,None,None,None,2020 (expected),None,None,Yes,2008,NaN,NaN
13,ATG,Antigua and Barbuda,Antigua and Barbuda,Antigua and Barbuda,AG,East Caribbean dollar,None,Latin America & Caribbean,High income,AG,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2011,None,None,Yes,2007,NaN,2018.0
14,AUS,Australia,Australia,Commonwealth of Australia,AU,Australian dollar,"The reporting period for national accounts data is designated as either calendar year basis (CY) or fiscal year basis (FY). For this country, it is fiscal year-based (fiscal year-end: June 30). Also, an estimate (PA.NUS.ATLS) of the exchange rate covers the same period and thus differs from the official exchange rate (CY).",East Asia & Pacific,High income,AU,...,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2016,None,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2015-2016,2013.0,2018.0
15,AUT,Austria,Austria,Republic of Austria,AT,Euro,"A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 13.7603 Austrian schilling. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.",Europe & Central Asia,High income,AT,...,Special trade system,Consolidated central government,Special Data Dissemination Standard Plus (SDDS Plus),2011. Population figures compiled from administrative registers.,None,"Income survey (IS), 2015",Yes,2010,2014.0,2018.0
16,AZE,Azerbaijan,Azerbaijan,Republic of Azerbaijan,AZ,New Azeri manat,None,Europe & Central Asia,Upper middle income,AZ,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),2019,"Demographic and Health Survey, 2006","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2015,2013.0,2018.0
17,BDI,Burundi,Burundi,Republic of Burundi,BI,Burundi franc,"The World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country, multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country, this applies to the period 1983-2021. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.",Sub-Saharan Africa,Low income,BI,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2008,"Demographic and Health Survey, 2016/17","Core Welfare Indicator Questionnaire Survey (CWIQ), 2014",None,None,2012.0,2018.0
18,BEL,Belgium,Belgium,Kingdom of Belgium,BE,Euro,"A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 40.3399 Belgian franc. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.",Europe & Central Asia,High income,BE,...,Special trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),"2011. Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.",None,"Income survey (IS), 2015",Yes,2010,2014.0,2018.0
19,BEN,Benin,Benin,Republic of Benin,BJ,West African CFA franc,None,Sub-Saharan Africa,Lower middle income,BJ,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2013,"Demographic and Health Survey, 2017/18","Core Welfare Indicator Questionnaire Survey (CWIQ), 2015",None,None,1981.0,2018.0

In [7]:
# Get some basic stats
df_country.count()

278

Examining Dimensions

How many different regions do the various countries belong to ?

In [8]:
showDF(df_country.select('Region').distinct(), truncate = False)

                        Region
0                   South Asia
1                         2016
2                    2016/2017
3                      2016/17
4           Sub-Saharan Africa
5        Europe & Central Asia
6                North America
7          East Asia & Pacific
8   Middle East & North Africa
9    Latin America & Caribbean
10                        None

How many different income groups do we have across countries?

In [9]:
showDF(df_country.select('Income Group').distinct(), truncate = False)

                           Income Group
0                   Lower middle income
1  Value added at producer prices (VAP)
2     Value added at basic prices (VAB)
3                           High income
4                   Upper middle income
5                            Low income
6                                  None

In [10]:
#Read the file "WDISeries.csv" into a Spark Data Frame
df_series = spark.read.format("csv") \
        .option("header", "true") \
        .option("inferSchema", "true") \
        .load("WDISeries.csv")

In [11]:
# Inspect the schema
df_series.printSchema()

root
 |-- Series Code: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Short definition: string (nullable = true)
 |-- Long definition: string (nullable = true)
 |-- Unit of measure: string (nullable = true)
 |-- Periodicity: string (nullable = true)
 |-- Base Period: string (nullable = true)
 |-- Other notes: string (nullable = true)
 |-- Aggregation method: string (nullable = true)
 |-- Limitations and exceptions: string (nullable = true)
 |-- Notes from original source: string (nullable = true)
 |-- General comments: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Statistical concept and methodology: string (nullable = true)
 |-- Development relevance: string (nullable = true)
 |-- Related source links: string (nullable = true)
 |-- Other web links: string (nullable = true)
 |-- Related indicators: string (nullable = true)
 |-- License Type: string (nullable = true)

In [12]:
# Use the helper function to display the DataFrame with all columns
showDF(df_series)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type
0,AG.AGR.TRAC.NO,Environment: Agricultural production,"Agricultural machinery, tractors",None,Agricultural machinery refers to the number of...,None,Annual,None,None,Sum,The data are collected by the Food and Agricul...,None,None,"Food and Agriculture Organization, electronic ...","""A tractor provides the power and traction to ...",for plowing,tilling,disking,harrowing,planting
1,A substantial contribution to agriculture in t...,steel plows,mowers,mechanical reapers,seed drills,and threshers contributed to the development ...,tractors enabled the farmer to sow and harves...,powered machinery such as tractors,has replaced many jobs formerly carried out b...,horses and mules. FAO estimates that most far...,seeds or agrochemicals.,None,None,None,None,None,None,None,None,None
2,Agriculture is still a major sector in many ec...,and agricultural activities provide developin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,There is no single correct mix of inputs to th...,as it is dependent on local climate,land quality,and economic development; appropriate levels ...,the climate and soils,"and the production process used.""",None,None,None,CC BY-4.0,None,None,None,None,None,None,None,None,None,None
4,AG.CON.FERT.PT.ZS,Environment: Agricultural production,Fertilizer consumption (% of fertilizer produc...,None,Fertilizer consumption measures the quantity o...,None,Annual,None,None,Weighted average,The FAO has revised the time series for fertil...,None,None,None,None,None,None,None,None,None
5,The data are collected by the Food and Agricul...,but complete consistency across countries and...,national publications and related country dat...,None,None,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,None,None,None,None,None,None,None,None,None,None,None,None,None
6,Most fertilizers that are commonly used in agr...,phosphorus,and potassium. Some fertilizers also contain ...,""""" such as zinc and other metals that are nece...",composts and other organic matter,and wastes,such as sewage sludge and certain industrial ...,None,None,None,None,None,None,None,None,None,None,None,None,None
7,FAO defines arable land as land under temporar...,temporary meadows for mowing or for pasture,land under market or kitchen gardens,and land temporarily fallow; land abandoned a...,"Factors such as the green revolution, has led ...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,Agriculture is still a major sector in many ec...,and agricultural activities provide developin...,pesticides,and intensive irrigation have environmental c...,inappropriate use of inputs for agricultural ...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,In many developed countries,excessive nitrogen fertilizer applications ha...,longevity and overall fitness of certain agri...,such as aphids. Further,excessive use of fertilizers emits significan...,"as """"fertilizer burn"""" can occur when too muc...",resulting in drying out of the leaves and dam...,overuse of fertilizers has resulted in contam...,None,None,None,None,None,None,None,None,None,None,None,None
10,There is no single correct mix of inputs to th...,as it is dependent on local climate,land quality,and economic development; appropriate levels ...,the climate and soils,"and the production process used.""",None,None,None,CC BY-4.0,None,None,None,None,None,None,None,None,None,None
11,AG.CON.FERT.ZS,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...,None,Fertilizer consumption measures the quantity o...,None,Annual,None,None,Weighted average,The FAO has revised the time series for fertil...,None,None,None,None,None,None,None,None,None
12,The data are collected by the Food and Agricul...,but complete consistency across countries and...,national publications and related country dat...,None,None,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,None,None,None,None,None,None,None,None,None,None,None,None,None
13,Most fertilizers that are commonly used in agr...,phosphorus,and potassium. Some fertilizers also contain ...,""""" such as zinc and other metals that are nece...",composts and other organic matter,and wastes,such as sewage sludge and certain industrial ...,None,None,None,None,None,None,None,None,None,None,None,None,None
14,FAO defines arable land as land under temporar...,temporary meadows for mowing or for pasture,land under market or kitchen gardens,and land temporarily fallow; land abandoned a...,"Factors such as the green revolution, has led ...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
15,Agriculture is still a major sector in many ec...,and agricultural activities provide developin...,pesticides,and intensive irrigation have environmental c...,inappropriate use of inputs for agricultural ...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
16,In many developed countries,excessive nitrogen fertilizer applications ha...,longevity and overall fitness of certain agri...,such as aphids. Further,excessive use of fertilizers emits significan...,"as """"fertilizer burn"""" can occur when too muc...",resulting in drying out of the leaves and dam...,overuse of fertilizers has resulted in contam...,None,None,None,None,None,None,None,None,None,None,None,None
17,There is no single correct mix of inputs to th...,as it is dependent on local climate,land quality,and economic development; appropriate levels ...,the climate and soils,"and the production process used.""",None,None,None,CC BY-4.0,None,None,None,None,None,None,None,None,None,None
18,AG.LND.AGRI.K2,Environment: Land use,Agricultural land (sq. km),None,Agricultural land refers to the share of land ...,None,Annual,None,None,Sum,The data are collected by the Food and Agricul...,None,None,"Food and Agriculture Organization, electronic ...",Agricultural land constitutes only a part of a...,None,None,None,None,None
19,Agricultural land is also sometimes classified...,with very little farming possible in non-irri...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [13]:
# Get some basic stats
df_series.count()

4284

In [14]:
#Read the file "WDIData.csv" into a Spark Data Frame
df_indicators = spark.read.format("csv") \
            .option("header", "true") \
            .option("inferSchema", "true") \
            .load("WDIData.csv")

In [15]:
# Inspect the schema
df_indicators.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Indicator Code: string (nullable = true)
 |-- 1960: double (nullable = true)
 |-- 1961: double (nullable = true)
 |-- 1962: double (nullable = true)
 |-- 1963: double (nullable = true)
 |-- 1964: double (nullable = true)
 |-- 1965: double (nullable = true)
 |-- 1966: double (nullable = true)
 |-- 1967: double (nullable = true)
 |-- 1968: double (nullable = true)
 |-- 1969: double (nullable = true)
 |-- 1970: double (nullable = true)
 |-- 1971: double (nullable = true)
 |-- 1972: double (nullable = true)
 |-- 1973: double (nullable = true)
 |-- 1974: double (nullable = true)
 |-- 1975: double (nullable = true)
 |-- 1976: double (nullable = true)
 |-- 1977: double (nullable = true)
 |-- 1978: double (nullable = true)
 |-- 1979: double (nullable = true)
 |-- 1980: double (nullable = true)
 |-- 1981: double (nullable = true)
 |-- 1982: double (nullable = true)
 |-- 1983: double (nullable = true)
 |-- 1984: double (nullable = true)
 |-- 1985: double (nullable = true)
 |-- 1986: double (nullable = true)
 |-- 1987: double (nullable = true)
 |-- 1988: double (nullable = true)
 |-- 1989: double (nullable = true)
 |-- 1990: double (nullable = true)
 |-- 1991: double (nullable = true)
 |-- 1992: double (nullable = true)
 |-- 1993: double (nullable = true)
 |-- 1994: double (nullable = true)
 |-- 1995: double (nullable = true)
 |-- 1996: double (nullable = true)
 |-- 1997: double (nullable = true)
 |-- 1998: double (nullable = true)
 |-- 1999: double (nullable = true)
 |-- 2000: double (nullable = true)
 |-- 2001: double (nullable = true)
 |-- 2002: double (nullable = true)
 |-- 2003: double (nullable = true)
 |-- 2004: double (nullable = true)
 |-- 2005: double (nullable = true)
 |-- 2006: double (nullable = true)
 |-- 2007: double (nullable = true)
 |-- 2008: double (nullable = true)
 |-- 2009: double (nullable = true)
 |-- 2010: double (nullable = true)
 |-- 2011: double (nullable = true)
 |-- 2012: double (nullable = true)
 |-- 2013: double (nullable = true)
 |-- 2014: double (nullable = true)
 |-- 2015: double (nullable = true)
 |-- 2016: double (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)
 |-- 2019: double (nullable = true)
 |-- 2020: double (nullable = true)
 |-- 2021: double (nullable = true)

In [16]:
# Use the helper function to display the DataFrame with all columns
showDF(df_indicators)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.559819,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.281667,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.601816,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.844384,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,19.402592,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN
5,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.945277,67.112206,66.283426,67.080235,69.132292,70.928567,71.866136,73.332842,73.942949,NaN
6,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.60.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.SO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.YG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Africa Eastern and Southern,AFE,Adequacy of social insurance programs (% of to...,per_si_allsi.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Africa Eastern and Southern,AFE,Adequacy of social protection and labor progra...,per_allsp.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Africa Eastern and Southern,AFE,Adequacy of social safety net programs (% of t...,per_sa_allsa.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Africa Eastern and Southern,AFE,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Africa Eastern and Southern,AFE,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Get some basic stats
df_indicators.count()

383572


Data Transformation, Modeling and Quality

In [18]:
# Select and rename columns needed for our data model for data ingestion.
countryDim = df_country \
             .select("2-alpha code", "Country Code", "Short Name", "Long Name", "Region", "Income Group") \
             .withColumnRenamed("2-alpha code", "country_iso_code") \
             .withColumnRenamed("Country Code", "wb_country_code") \
             .withColumnRenamed("Short Name", "name") \
             .withColumnRenamed("Long Name", "long_name") \
             .withColumnRenamed("Region", "region") \
             .withColumnRenamed("Income Group", "income_group")
showDF(countryDim)

,country_iso_code,wb_country_code,name,long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
2,AF,AFG,Afghanistan,Islamic State of Afghanistan,None,None
3,South Asia,In addition,the World Bank systematically assesses the ap...,this applies to the period 1960-2006. Alterna...,2016,None
4,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
5,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
6,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
7,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
8,1A,ARB,Arab World,Arab World,None,None
9,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
10,AR,ARG,Argentina,Argentine Republic,Latin America & Caribbean,Upper middle income
11,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Upper middle income
12,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
13,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
14,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
15,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
16,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
17,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
18,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
19,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Lower middle income

In [19]:
# Filter the DataFrame to include only rows where the country_iso_code is not null
countryDimNotNull = countryDim.filter("country_iso_code is not null")

Data Quality Check

In [20]:
# Do all countries have 2 character country_iso_codes ?
showDF( \
    countryDimNotNull \
       .select(F.col("country_iso_code"), \
               F.length(F.col("country_iso_code")).alias("column_length")) \
       .groupBy("column_length") \
       .agg(F.count("*").alias("cnt")) \
       .filter("cnt > 1") \
)

   column_length  cnt
0             19    4
1              2  265

In [21]:
# Filter the DataFrame to keep only rows where country_iso_code length is 2
fixIsoCountryCode = countryDimNotNull.filter("length(country_iso_code) = 2")
countAfterFiltering = fixIsoCountryCode.count()
print(countAfterFiltering)

265

In [22]:
# Check the length distribution of wb_country_code after filtering
WbCountryCodeLength = (fixIsoCountryCode \
    .select("wb_country_code",
            F.length("wb_country_code").alias("column_length"))\
    .groupBy("column_length") \
    .agg(F.count("*").alias("cnt")) 
                      )
showDF(WbCountryCodeLength)

   column_length  cnt
0              3  264
1             20    1

In [23]:
# Display rows where `wb_country_code` has a length of 20 to assess if these entries should be retained or removed
showDF(fixIsoCountryCode.filter("length(wb_country_code) = 20"))

,country_iso_code,wb_country_code,name,long_name,region,income_group
0,F1,For more information,please visit https://www.worldbank.org/en/top...,None,None,None

In [24]:
# Filter the DataFrame to keep only rows where wb_country_code length is 3
fixWbCountryCode = fixIsoCountryCode.filter("length(wb_country_code) = 3")
print(fixWbCountryCode .count())
showDF(fixWbCountryCode)

264

,country_iso_code,wb_country_code,name,long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
2,AF,AFG,Afghanistan,Islamic State of Afghanistan,None,None
3,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
4,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
5,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
6,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
7,1A,ARB,Arab World,Arab World,None,None
8,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
9,AR,ARG,Argentina,Argentine Republic,Latin America & Caribbean,Upper middle income
10,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Upper middle income
11,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
12,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
13,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
14,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
15,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
16,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
17,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
18,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Lower middle income
19,BF,BFA,Burkina Faso,Burkina Faso,Sub-Saharan Africa,Low income

In [25]:
# Check duplicate records for the columns
duplicateISOCountryCode = fixWbCountryCode.groupby("country_iso_code").agg(F.count("*").alias("cnt")).filter("cnt>1")
showDF(duplicateISOCountryCode)               
duplicateWBCountryCode = fixWbCountryCode.groupby("wb_country_code").agg(F.count("*").alias("cnt")).filter("cnt>1")
showDF(duplicateWBCountryCode)                
duplicateCountryName = fixWbCountryCode.groupby("name").agg(F.count("*").alias("cnt")).filter("cnt>1")
showDF(duplicateCountryName)

Empty DataFrame
Columns: [country_iso_code, cnt]
Index: []

Empty DataFrame
Columns: [wb_country_code, cnt]
Index: []

Empty DataFrame
Columns: [name, cnt]
Index: []

In [26]:
countryDimFinal = fixWbCountryCode
print(countryDimFinal.count())
showDF(countryDimFinal)

264

,country_iso_code,wb_country_code,name,long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
2,AF,AFG,Afghanistan,Islamic State of Afghanistan,None,None
3,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
4,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
5,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
6,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
7,1A,ARB,Arab World,Arab World,None,None
8,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
9,AR,ARG,Argentina,Argentine Republic,Latin America & Caribbean,Upper middle income
10,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Upper middle income
11,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
12,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
13,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
14,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
15,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
16,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
17,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
18,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Lower middle income
19,BF,BFA,Burkina Faso,Burkina Faso,Sub-Saharan Africa,Low income

Write the data to the destination

In [27]:
# write the country dimension to an output csv file
countryDimFinal \
    .coalesce(1) \
    .write.csv('output/CountryDim', mode='overwrite', header='true')

In [28]:
%%bash
cat output/CountryDim/*csv | head

country_iso_code,wb_country_code,name,long_name,region,income_group
AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,,
AF,AFG,Afghanistan,Islamic State of Afghanistan,,
ZI,AFW,Africa Western and Central,Africa Western and Central,,
AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
1A,ARB,Arab World,Arab World,,
AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income

Transform the Series Dataset

In [29]:
# Filter only for series that have Annual periodicity
# Select and rename columns needed for our data model for data ingestion.
seriesDim = df_series\
            .select("Series Code", "Indicator Name", "Periodicity", "Aggregation method") \
            .withColumnRenamed("Series Code", "indicator_code") \
            .withColumnRenamed("Indicator Name", "indicator_name") \
            .withColumnRenamed("Periodicity", "periodicity") \
            .withColumnRenamed("Aggregation method", "Aggregation_method") \
            .filter(F.col("Periodicity") == "Annual")
showDF(seriesDim)
seriesDim.count()

,indicator_code,indicator_name,periodicity,Aggregation_method
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors",Annual,Sum
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer produc...,Annual,Weighted average
2,AG.CON.FERT.ZS,Fertilizer consumption (kilograms per hectare ...,Annual,Weighted average
3,AG.LND.AGRI.K2,Agricultural land (sq. km),Annual,Sum
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),Annual,Weighted average
5,AG.LND.ARBL.HA,Arable land (hectares),Annual,None
6,AG.LND.ARBL.HA.PC,Arable land (hectares per person),Annual,Weighted average
7,AG.LND.ARBL.ZS,Arable land (% of land area),Annual,Weighted average
8,AG.LND.CREL.HA,Land under cereal production (hectares),Annual,Sum
9,AG.LND.CROP.ZS,Permanent cropland (% of land area),Annual,Weighted average
10,AG.LND.EL5M.RU.K2,Rural land area where elevation is below 5 met...,Annual,Sum
11,AG.LND.EL5M.RU.ZS,Rural land area where elevation is below 5 met...,Annual,Weighted average
12,AG.LND.EL5M.UR.K2,Urban land area where elevation is below 5 met...,Annual,Sum
13,AG.LND.EL5M.UR.ZS,Urban land area where elevation is below 5 met...,Annual,Weighted average
14,AG.LND.EL5M.ZS,Land area where elevation is below 5 meters (%...,Annual,Weighted average
15,AG.LND.FRST.K2,Forest area (sq. km),Annual,Sum
16,AG.LND.FRST.ZS,Forest area (% of land area),Annual,Weighted average
17,AG.LND.IRIG.AG.ZS,Agricultural irrigated land (% of total agricu...,Annual,Weighted average
18,AG.LND.PRCP.MM,Average precipitation in depth (mm per year),Annual,None
19,AG.LND.TOTL.K2,Land area (sq. km),Annual,Sum

1377

In [33]:
# Filter rows where `indicator_code` is not null
seriesNotNull = seriesDim.filter("indicator_code is Not Null")
seriesNotNull.count()

1377

In [41]:
# Check for duplicate entries
duplicate_check_indicator_code = seriesNotNull.groupBy("indicator_code").agg(F.count("*").alias("cnt")).filter("cnt>1")
showDF(duplicate_check_indicator_code)

                     indicator_code  cnt
0  be caused by household chemicals    2

In [43]:
# Drop duplicate entries
seriesNoDuplicates = seriesNotNull.dropDuplicates(["indicator_code"])
seriesNoDuplicates.count()

1376

Cellular and Broadband Penetration Analysis:

We aim to measure cellular and broadband penetration in comparison to population demographics for each country. Additionally, we seek insights on annual global aggregates.

In [44]:
# Our dataset has multiple types of metrics. The only ones that we care about are simple aggregates.
simpleAggIndicators = seriesNoDuplicates \
                    .filter("lower(Aggregation_method) = 'sum'") \
                    .select("indicator_code", "indicator_name") \
                    .orderBy("indicator_code")
                    
showDF(simpleAggIndicators, limitRows=500, truncate = False)

,indicator_code,indicator_name
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors"
1,AG.LND.AGRI.K2,Agricultural land (sq. km)
2,AG.LND.CREL.HA,Land under cereal production (hectares)
3,AG.LND.EL5M.RU.K2,Rural land area where elevation is below 5 meters (sq. km)
4,AG.LND.EL5M.UR.K2,Urban land area where elevation is below 5 meters (sq. km)
5,AG.LND.FRST.K2,Forest area (sq. km)
6,AG.LND.TOTL.K2,Land area (sq. km)
7,AG.LND.TOTL.RU.K2,Rural land area (sq. km)
8,AG.LND.TOTL.UR.K2,Urban land area (sq. km)
9,AG.PRD.CREL.MT,Cereal production (metric tons)
10,AG.SRF.TOTL.K2,Surface area (sq. km)
11,BM.GSR.FCTY.CD,"Primary income payments (BoP, current US$)"
12,BM.GSR.ROYL.CD,"Charges for the use of intellectual property, payments (BoP, current US$)"
13,BM.KLT.DINV.CD.WD,"Foreign direct investment, net outflows (BoP, current US$)"
14,BM.TRF.PRVT.CD,"Secondary income, other sectors, payments (BoP, current US$)"
15,BM.TRF.PWKR.CD.DT,"Personal remittances, paid (current US$)"
16,BX.GRT.EXTA.CD.WD,"Grants, excluding technical cooperation (BoP, current US$)"
17,BX.GRT.TECH.CD.WD,"Technical cooperation grants (BoP, current US$)"
18,BX.GSR.CCIS.CD,"ICT service exports (BoP, current US$)"
19,BX.GSR.FCTY.CD,"Primary income receipts (BoP, current US$)"
20,BX.GSR.ROYL.CD,"Charges for the use of intellectual property, receipts (BoP, current US$)"
21,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, current US$)"
22,BX.PEF.TOTL.CD.WD,"Portfolio equity, net inflows (BoP, current US$)"
23,BX.TRF.CURR.CD,"Secondary income receipts (BoP, current US$)"
24,BX.TRF.PWKR.CD,"Personal transfers, receipts (BoP, current US$)"
25,BX.TRF.PWKR.CD.DT,"Personal remittances, received (current US$)"
26,CM.MKT.LCAP.CD,Market capitalization of listed domestic companies (current US$)
27,CM.MKT.LDOM.NO,"Listed domestic companies, total"
28,CM.MKT.TRAD.CD,"Stocks traded, total value (current US$)"
29,DC.DAC.AUSL.CD,"Net bilateral aid flows from DAC donors, Australia (current US$)"
30,DC.DAC.AUTL.CD,"Net bilateral aid flows from DAC donors, Austria (current US$)"
31,DC.DAC.BELL.CD,"Net bilateral aid flows from DAC donors, Belgium (current US$)"
32,DC.DAC.CANL.CD,"Net bilateral aid flows from DAC donors, Canada (current US$)"
33,DC.DAC.CECL.CD,"Net bilateral aid flows from DAC donors, European Union institutions (current US$)"
34,DC.DAC.CHEL.CD,"Net bilateral aid flows from DAC donors, Switzerland (current US$)"
35,DC.DAC.CZEL.CD,"Net bilateral aid flows from DAC donors, Czech Republic (current US$)"
36,DC.DAC.DEUL.CD,"Net bilateral aid flows from DAC donors, Germany (current US$)"
37,DC.DAC.DNKL.CD,"Net bilateral aid flows from DAC donors, Denmark (current US$)"
38,DC.DAC.ESPL.CD,"Net bilateral aid flows from DAC donors, Spain (current US$)"
39,DC.DAC.FINL.CD,"Net bilateral aid flows from DAC donors, Finland (current US$)"
40,DC.DAC.FRAL.CD,"Net bilateral aid flows from DAC donors, France (current US$)"
41,DC.DAC.GBRL.CD,"Net bilateral aid flows from DAC donors, United Kingdom (current US$)"
42,DC.DAC.GRCL.CD,"Net bilateral aid flows from DAC donors, Greece (current US$)"
43,DC.DAC.HUNL.CD,"Net bilateral aid flows from DAC donors, Hungary (current US$)"
44,DC.DAC.IRLL.CD,"Net bilateral aid flows from DAC donors, Ireland (current US$)"
45,DC.DAC.ISLL.CD,"Net bilateral aid flows from DAC donors, Iceland (current US$)"
46,DC.DAC.ITAL.CD,"Net bilateral aid flows from DAC donors, Italy (current US$)"
47,DC.DAC.JPNL.CD,"Net bilateral aid flows from DAC donors, Japan (current US$)"
48,DC.DAC.KORL.CD,"Net bilateral aid flows from DAC donors, Korea, Rep. (current US$)"
49,DC.DAC.LUXL.CD,"Net bilateral aid flows from DAC donors, Luxembourg (current US$)"
50,DC.DAC.NLDL.CD,"Net bilateral aid flows from DAC donors, Netherlands (current US$)"
51,DC.DAC.NORL.CD,"Net bilateral aid flows from DAC donors, Norway (current US$)"
52,DC.DAC.NZLL.CD,"Net bilateral aid flows from DAC donors, New Zealand (current US$)"
53,DC.DAC.POLL.CD,"Net bilateral aid flows from DAC donors, Poland (current US$)"
54,DC.DAC.PRTL.CD,"Net bilateral aid flows from DAC donors, Portugal (current US$)"
55,DC.DAC.SVKL.CD,"Net bilateral aid flows from DAC donors, Slovak Republic (current US$)"
56,DC.DAC.SVNL.CD,"Net bilateral aid flows from DAC donors, Slovenia (current US$)"
57,DC.DAC.SWEL.CD,"Net bilateral aid flows from DAC donors, Sweden (current US$)"
58,DC.DAC.TOTL.CD,"Net bilateral aid flows from DAC donors, Total (current US$)"
59,DC.DAC.USAL.CD,"Net bilateral aid flows from DAC donors, United States (current US$)"
60,DT.DOD.DECT.CD,"External debt stocks, total (DOD, current US$)"
61,DT.DOD.DIMF.CD,"Use of IMF credit (DOD, current US$)"
62,DT.DOD.DLXF.CD,"External debt stocks, long-term (DOD, current US$)"
63,DT.DOD.DPNG.CD,"External debt stocks, private nonguaranteed (PNG) (DOD, current US$)"
64,DT.DOD.DPPG.CD,"External debt stocks, public and publicly guaranteed (PPG) (DOD, current US$)"
65,DT.DOD.DSTC.CD,"External debt stocks, short-term (DOD, current US$)"
66,DT.DOD.MIBR.CD,"PPG, IBRD (DOD, current US$)"
67,DT.DOD.MIDA.CD,"PPG, IDA (DOD, current US$)"
68,DT.DOD.MWBG.CD,"IBRD loans and IDA credits (DOD, current US$)"
69,DT.DOD.PVLX.CD,Present value of external debt (current US$)
70,DT.NFL.BLAT.CD,"Net financial flows, bilateral (NFL, current US$)"
71,DT.NFL.BOND.CD,"Portfolio investment, bonds (PPG + PNG) (NFL, current US$)"
72,DT.NFL.DPNG.CD,"Net flows on external debt, private nonguaranteed (PNG) (NFL, current US$)"
73,DT.NFL.FAOG.CD,"Net official flows from UN agencies, FAO (current US$)"
74,DT.NFL.IAEA.CD,"Net official flows from UN agencies, IAEA (current US$)"
75,DT.NFL.IFAD.CD,"Net official flows from UN agencies, IFAD (current US$)"
76,DT.NFL.ILOG.CD,"Net official flows from UN agencies, ILO (current US$)"
77,DT.NFL.IMFC.CD,"Net financial flows, IMF concessional (NFL, current US$)"
78,DT.NFL.IMFN.CD,"Net financial flows, IMF nonconcessional (NFL, current US$)"
79,DT.NFL.MIBR.CD,"Net financial flows, IBRD (NFL, current US$)"
80,DT.NFL.MIDA.CD,"Net financial flows, IDA (NFL, current US$)"
81,DT.NFL.MLAT.CD,"Net financial flows, multilateral (NFL, current US$)"
82,DT.NFL.MOTH.CD,"Net financial flows, others (NFL, current US$)"
83,DT.NFL.NIFC.CD,"IFC, private nonguaranteed (NFL, current US$)"
84,DT.NFL.OFFT.CD,"PPG, official creditors (NFL, current US$)"
85,DT.NFL.PBND.CD,"PPG, bonds (NFL, current US$)"
86,DT.NFL.PCBK.CD,"PPG, commercial banks (NFL, current US$)"
87,DT.NFL.PCBO.CD,"Commercial banks and other lending (PPG + PNG) (NFL, current US$)"
88,DT.NFL.PNGB.CD,"PNG, bonds (NFL, current US$)"
89,DT.NFL.PNGC.CD,"PNG, commercial banks and other creditors (NFL, current US$)"
90,DT.NFL.PROP.CD,"PPG, other private creditors (NFL, current US$)"
91,DT.NFL.PRVT.CD,"PPG, private creditors (NFL, current US$)"
92,DT.NFL.RDBC.CD,"Net financial flows, RDB concessional (NFL, current US$)"
93,DT.NFL.RDBN.CD,"Net financial flows, RDB nonconcessional (NFL, current US$)"
94,DT.NFL.UNAI.CD,"Net official flows from UN agencies, UNAIDS (current US$)"
95,DT.NFL.UNCF.CD,"Net official flows from UN agencies, UNICEF (current US$)"
96,DT.NFL.UNCR.CD,"Net official flows from UN agencies, UNHCR (current US$)"
97,DT.NFL.UNDP.CD,"Net official flows from UN agencies, UNDP (current US$)"
98,DT.NFL.UNEC.CD,"Net official flows from UN agencies, UNECE (current US$)"
99,DT.NFL.UNEP.CD,"Net official flows from UN agencies, UNEP (current US$)"
100,DT.NFL.UNFP.CD,"Net official flows from UN agencies, UNFPA (current US$)"
101,DT.NFL.UNID.CD,"Net official flows from UN agencies, UNIDIR (current US$)"
102,DT.NFL.UNPB.CD,"Net official flows from UN agencies, UNPBF (current US$)"
103,DT.NFL.UNRW.CD,"Net official flows from UN agencies, UNRWA (current US$)"
104,DT.NFL.UNTA.CD,"Net official flows from UN agencies, UNTA (current US$)"
105,DT.NFL.UNWT.CD,"Net official flows from UN agencies, UNWTO (current US$)"
106,DT.NFL.WFPG.CD,"Net official flows from UN agencies, WFP (current US$)"
107,DT.NFL.WHOL.CD,"Net official flows from UN agencies, WHO (current US$)"
108,DT.ODA.ALLD.CD,Net official development assistance and official aid received (current US$)
109,DT.ODA.ALLD.KD,Net official development assistance and official aid received (constant 2020 US$)
110,DT.ODA.OATL.CD,Net official aid received (current US$)
111,DT.ODA.OATL.KD,Net official aid received (constant 2020 US$)
112,DT.ODA.ODAT.CD,Net official development assistance received (current US$)
113,DT.ODA.ODAT.KD,Net official development assistance received (constant 2020 US$)
114,DT.TDS.DECT.CD,"Debt service on external debt, total (TDS, current US$)"
115,DT.TDS.DIMF.CD,"IMF repurchases and charges (TDS, current US$)"
116,DT.TDS.DPPG.CD,"Debt service on external debt, public and publicly guaranteed (PPG) (TDS, current US$)"
117,DT.TDS.MLAT.CD,"Multilateral debt service (TDS, current US$)"
118,EG.ELC.RNWX.KH,"Electricity production from renewable sources, excluding hydroelectric (kWh)"
119,EN.ATM.GHGO.KT.CE,"Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)"
120,EN.ATM.GHGT.KT.CE,Total greenhouse gas emissions (kt of CO2 equivalent)
121,EN.ATM.METH.AG.KT.CE,Agricultural methane emissions (thousand metric tons of CO2 equivalent)
122,EN.ATM.METH.EG.KT.CE,Methane emissions in energy sector (thousand metric tons of CO2 equivalent)
123,EN.ATM.METH.KT.CE,Methane emissions (kt of CO2 equivalent)
124,EN.ATM.NOXE.AG.KT.CE,Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)
125,EN.ATM.NOXE.EG.KT.CE,Nitrous oxide emissions in energy sector (thousand metric tons of CO2 equivalent)
126,EN.ATM.NOXE.KT.CE,Nitrous oxide emissions (thousand metric tons of CO2 equivalent)
127,EN.BIR.THRD.NO,"Bird species, threatened"
128,EN.FSH.THRD.NO,"Fish species, threatened"
129,EN.HPT.THRD.NO,"Plant species (higher), threatened"
130,EN.MAM.THRD.NO,"Mammal species, threatened"
131,ER.FSH.AQUA.MT,Aquaculture production (metric tons)
132,ER.FSH.CAPT.MT,Capture fisheries production (metric tons)
133,ER.FSH.PROD.MT,Total fisheries production (metric tons)
134,ER.H2O.FWTL.K3,"Annual freshwater withdrawals, total (billion cubic meters)"
135,ER.H2O.INTR.K3,"Renewable internal freshwater resources, total (billion cubic meters)"
136,IE.PPI.ENGY.CD,Investment in energy with private participation (current US$)
137,IE.PPI.ICTI.CD,Investment in ICT with private participation (current US$)
138,IE.PPI.TRAN.CD,Investment in transport with private participation (current US$)
139,IE.PPI.WATR.CD,Investment in water and sanitation with private participation (current US$)
140,IE.PPN.ENGY.CD,Public private partnerships investment in energy (current US$)
141,IE.PPN.ICTI.CD,Public private partnerships investment in ICT (current US$)
142,IE.PPN.TRAN.CD,Public private partnerships investment in transport (current US$)
143,IE.PPN.WATR.CD,Public private partnerships investment in water and sanitation (current US$)
144,IP.IDS.NRCT,"Industrial design applications, nonresident, by count"
145,IP.IDS.RSCT,"Industrial design applications, resident, by count"
146,IP.PAT.NRES,"Patent applications, nonresidents"
147,IP.PAT.RESD,"Patent applications, residents"
148,IP.TMK.NRCT,"Trademark applications, nonresident, by count"
149,IP.TMK.RSCT,"Trademark applications, resident, by count"
150,IS.AIR.DPRT,"Air transport, registered carrier departures worldwide"
151,IS.AIR.GOOD.MT.K1,"Air transport, freight (million ton-km)"
152,IS.AIR.PSGR,"Air transport, passengers carried"
153,IS.SHP.GOOD.TU,Container port traffic (TEU: 20 foot equivalent units)
154,IT.CEL.SETS,Mobile cellular subscriptions
155,IT.MLT.MAIN,Fixed telephone subscriptions
156,IT.NET.BBND,Fixed broadband subscriptions
157,IT.NET.SECR,Secure Internet servers
158,MS.MIL.MPRT.KD,Arms imports (SIPRI trend indicator values)
159,MS.MIL.TOTL.P1,"Armed forces personnel, total"
160,MS.MIL.XPRT.KD,Arms exports (SIPRI trend indicator values)
161,SE.PRM.ENRL,"Primary education, pupils"
162,SE.PRM.TCHR,"Primary education, teachers"
163,SE.PRM.UNER,"Children out of school, primary"
164,SE.PRM.UNER.FE,"Children out of school, primary, female"
165,SE.PRM.UNER.MA,"Children out of school, primary, male"
166,SE.SEC.ENRL,"Secondary education, pupils"
167,SE.SEC.ENRL.GC,"Secondary education, general pupils"
168,SE.SEC.ENRL.VO,"Secondary education, vocational pupils"
169,SE.SEC.TCHR,"Secondary education, teachers"
170,SE.SEC.TCHR.FE,"Secondary education, teachers, female"
171,SH.DTH.0509,Number of deaths ages 5-9 years
172,SH.DTH.1014,Number of deaths ages 10-14 years
173,SH.DTH.1519,Number of deaths ages 15-19 years
174,SH.DTH.2024,Number of deaths ages 20-24 years
175,SH.DTH.IMRT,Number of infant deaths
176,SH.DTH.MORT,Number of under-five deaths
177,SH.DTH.NMRT,Number of neonatal deaths
178,SH.MMR.DTHS,Number of maternal deaths
179,SH.UHC.NOP1.TO,Number of people pushed below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure
180,SH.UHC.NOP2.TO,Number of people pushed below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure
181,SH.UHC.OOPC.10.TO,Number of people spending more than 10% of household consumption or income on out-of-pocket health care expenditure
182,SH.UHC.OOPC.25.TO,Number of people spending more than 25% of household consumption or income on out-of-pocket health care expenditure
183,SL.TLF.TOTL.IN,"Labor force, total"
184,SM.POP.NETM,Net migration
185,SM.POP.REFG,Refugee population by country or territory of asylum
186,SM.POP.REFG.OR,Refugee population by country or territory of origin
187,SM.POP.TOTL,"International migrant stock, total"
188,SP.POP.0014.FE.IN,"Population ages 0-14, female"
189,SP.POP.0014.MA.IN,"Population ages 0-14, male"
190,SP.POP.0014.TO,"Population ages 0-14, total"
191,SP.POP.1564.FE.IN,"Population ages 15-64, female"
192,SP.POP.1564.MA.IN,"Population ages 15-64, male"
193,SP.POP.1564.TO,"Population ages 15-64, total"
194,SP.POP.65UP.FE.IN,"Population ages 65 and above, female"
195,SP.POP.65UP.MA.IN,"Population ages 65 and above, male"
196,SP.POP.65UP.TO,"Population ages 65 and above, total"
197,SP.POP.TOTL,"Population, total"
198,SP.POP.TOTL.FE.IN,"Population, female"
199,SP.POP.TOTL.MA.IN,"Population, male"
200,SP.RUR.TOTL,Rural population
201,SP.URB.TOTL,Urban population
202,TM.VAL.MRCH.WL.CD,Merchandise imports by the reporting economy (current US$)
203,TX.VAL.MRCH.WL.CD,Merchandise exports by the reporting economy (current US$)
204,TX.VAL.TECH.CD,High-technology exports (current US$)
205,VC.BTL.DETH,Battle-related deaths (number of people)
206,VC.IDP.TOCV,"Internally displaced persons, total displaced by conflict and violence (number of people)"

In [45]:
# Only keep the indicators that are relevant to requirements i.e. Population indicators and Cellular and Broadband penetration
targetIndicators = simpleAggIndicators.filter("lower(indicator_name) like '%population%total%'" +
                            "or lower(indicator_name) like '%cellular%' " +
                            "or lower(indicator_name) like '%broadband%' ")
showDF(targetIndicators)

   indicator_code                       indicator_name
0     IT.CEL.SETS        Mobile cellular subscriptions
1     IT.NET.BBND        Fixed broadband subscriptions
2  SP.POP.0014.TO          Population ages 0-14, total
3  SP.POP.1564.TO         Population ages 15-64, total
4  SP.POP.65UP.TO  Population ages 65 and above, total
5     SP.POP.TOTL                    Population, total

In [46]:
indicatorsData = df_indicators \
                .withColumnRenamed("Indicator Code", "indicator_code") \
                .withColumnRenamed("Country Code", "wb_country_code") \
                .drop("Indicator Name") \
                .drop("Country Name") 
showDF(indicatorsData)
indicatorsData.count()

,wb_country_code,indicator_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFE,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.559819,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN
1,AFE,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.281667,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN
2,AFE,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.601816,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN
3,AFE,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.844384,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN
4,AFE,EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.402592,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN
5,AFE,EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66.945277,67.112206,66.283426,67.080235,69.132292,70.928567,71.866136,73.332842,73.942949,NaN
6,AFE,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AFE,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AFE,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AFE,FX.OWN.TOTL.OL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,AFE,FX.OWN.TOTL.40.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AFE,FX.OWN.TOTL.PL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,AFE,FX.OWN.TOTL.60.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,AFE,FX.OWN.TOTL.SO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,AFE,FX.OWN.TOTL.YG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,AFE,per_si_allsi.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,AFE,per_allsp.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,AFE,per_sa_allsa.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,AFE,per_lm_alllm.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,AFE,SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

383572

In [47]:
#Keep only the indicators that we care about
targetIndicatorsData = indicatorsData.join(targetIndicators, indicatorsData.indicator_code == targetIndicators.indicator_code).drop(targetIndicators.indicator_code)
showDF(targetIndicatorsData)

,wb_country_code,indicator_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,indicator_name
0,AFE,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2572220.0,3123787.0,3086933.0,3129499.0,3187389.0,3286161.0,4119216.0,4929182.0,NaN,Fixed broadband subscriptions
1,AFE,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,327628287.0,361512328.0,403793199.0,396261205.0,406413955.0,386012231.0,458769966.0,486868958.0,NaN,Mobile cellular subscriptions
2,AFE,SP.POP.0014.TO,57144288.0,58943932.0,60748348.0,62553938.0,64347711.0,66128065.0,68203382.0,70220874.0,...,241896989.0,247356893.0,252787720.0,258306434.0,263744012.0,269079146.0,274282381.0,279340111.0,284463145.0,"Population ages 0-14, total"
3,AFE,SP.POP.1564.TO,69648709.0,71064806.0,72614824.0,74300783.0,76131179.0,78107040.0,79886565.0,81867716.0,...,303709474.0,313182403.0,322989451.0,332917687.0,343225705.0,353905517.0,364955873.0,376366386.0,387857061.0,"Population ages 15-64, total"
4,AFE,SP.POP.65UP.TO,4043770.0,4151048.0,4251472.0,4347316.0,4441300.0,4534866.0,4662727.0,4787863.0,...,16995114.0,17536074.0,18094678.0,18754826.0,19423165.0,20105467.0,20808019.0,21536800.0,22344911.0,"Population ages 65 and above, total"
5,AFE,SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0,"Population, total"
6,AFW,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,399466.0,489777.0,565867.0,971317.0,980402.0,1084105.0,1209936.0,1743931.0,NaN,Fixed broadband subscriptions
7,AFW,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,290449890.0,319468155.0,348206501.0,356136490.0,358816819.0,384382192.0,422941609.0,457048002.0,NaN,Mobile cellular subscriptions
8,AFW,SP.POP.0014.TO,40179920.0,41258443.0,42322255.0,43381248.0,44435635.0,45485151.0,46815458.0,48101375.0,...,168071948.0,172375593.0,176628546.0,181074105.0,185398355.0,189619289.0,193768241.0,197861564.0,202086389.0,"Population ages 0-14, total"
9,AFW,SP.POP.1564.TO,53387204.0,54235983.0,55195109.0,56251904.0,57401041.0,58639680.0,59627220.0,60751064.0,...,201761298.0,207655193.0,213860470.0,220036067.0,226593701.0,233498281.0,240697092.0,248156675.0,255592231.0,"Population ages 15-64, total"
10,AFW,SP.POP.65UP.TO,2829296.0,2912796.0,2989600.0,3058187.0,3116795.0,3165043.0,3259134.0,3343512.0,...,10604651.0,10852195.0,11097632.0,11441125.0,11777875.0,12111811.0,12446267.0,12785236.0,13220250.0,"Population ages 65 and above, total"
11,AFW,SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,470898870.0,"Population, total"
12,ARB,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8880291.0,10801834.0,18081304.0,20019879.0,28218281.0,30067212.0,33114238.0,38898085.0,NaN,Fixed broadband subscriptions
13,ARB,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,407704505.0,415029432.0,419013963.0,417212258.0,416484374.0,411117427.0,421459796.0,423344019.0,NaN,Mobile cellular subscriptions
14,ARB,SP.POP.0014.TO,39900270.0,41339716.0,42792876.0,44248953.0,45685299.0,47089854.0,48668390.0,50184667.0,...,126210619.0,128447163.0,130629545.0,133196474.0,135482326.0,137628016.0,139782894.0,142003455.0,144001243.0,"Population ages 0-14, total"
15,ARB,SP.POP.1564.TO,49063221.0,50032214.0,51072091.0,52200464.0,53449221.0,54836640.0,56150923.0,57648452.0,...,237522658.0,242986682.0,248365389.0,253171312.0,258081365.0,263087505.0,268157877.0,273323616.0,278842504.0,"Population ages 15-64, total"
16,ARB,SP.POP.65UP.TO,3234225.0,3352609.0,3469470.0,3584776.0,3698270.0,3809935.0,3939319.0,4066217.0,...,15963198.0,16465991.0,17033363.0,17675107.0,18379135.0,19136464.0,19929502.0,20753658.0,21674036.0,"Population ages 65 and above, total"
17,ARB,SP.POP.TOTL,92197715.0,94724540.0,97334438.0,100034191.0,102832792.0,105736428.0,108758634.0,111899335.0,...,379696477.0,387899835.0,396028301.0,404042892.0,411942825.0,419851989.0,427870273.0,436080728.0,444517783.0,"Population, total"
18,CSS,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,674419.0,753368.0,897134.0,971854.0,1024247.0,1007098.0,1152226.0,1340377.0,NaN,Fixed broadband subscriptions
19,CSS,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,7738401.0,7952805.0,8158698.0,8483364.0,8225309.0,7218705.0,8476897.0,8401653.0,NaN,Mobile cellular subscriptions


Model the DataFrame to have a row for each value instead of a column, allowing easier future data augmentation.

In [48]:
yearList = [x for x in targetIndicatorsData.schema.names \
             if x != 'wb_country_code' and x != 'indicator_code' and x != 'indicator_name'] 

print(yearList)

['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [50]:
exprs = [F.struct(F.lit(year).alias("year"), F.col(year).alias("indicator_value")) for year in yearList]
tempDF = targetIndicatorsData.withColumn("years", F.explode(F.array(*exprs)))
indicatorsDF = tempDF.select(
    "wb_country_code", 
    "indicator_code", 
    F.col("years.year").alias("year"), 
    F.col("years.indicator_value").alias("indicator_value")
)
showDF(indicatorsDF)

   wb_country_code indicator_code  year  indicator_value
0              AFE    IT.NET.BBND  1960              NaN
1              AFE    IT.NET.BBND  1961              NaN
2              AFE    IT.NET.BBND  1962              NaN
3              AFE    IT.NET.BBND  1963              NaN
4              AFE    IT.NET.BBND  1964              NaN
5              AFE    IT.NET.BBND  1965              NaN
6              AFE    IT.NET.BBND  1966              NaN
7              AFE    IT.NET.BBND  1967              NaN
8              AFE    IT.NET.BBND  1968              NaN
9              AFE    IT.NET.BBND  1969              NaN
10             AFE    IT.NET.BBND  1970              NaN
11             AFE    IT.NET.BBND  1971              NaN
12             AFE    IT.NET.BBND  1972              NaN
13             AFE    IT.NET.BBND  1973              NaN
14             AFE    IT.NET.BBND  1974              NaN
15             AFE    IT.NET.BBND  1975              NaN
16             AFE    IT.NET.BBND  1976              NaN
17             AFE    IT.NET.BBND  1977              NaN
18             AFE    IT.NET.BBND  1978              NaN
19             AFE    IT.NET.BBND  1979              NaN

In [52]:
yearPivot = indicatorsDF.groupBy("year").pivot("indicator_code").sum('indicator_value')
showDF(yearPivot.orderBy("year"))

,year,IT.CEL.SETS,IT.NET.BBND,SP.POP.0014.TO,SP.POP.1564.TO,SP.POP.65UP.TO,SP.POP.TOTL
0,1960,0.0,NaN,1.177090e+10,1.774023e+10,1.419879e+09,3.094538e+10
1,1961,NaN,NaN,1.198995e+10,1.789734e+10,1.451559e+09,3.135351e+10
2,1962,NaN,NaN,1.228409e+10,1.812713e+10,1.483848e+09,3.191012e+10
3,1963,NaN,NaN,1.262982e+10,1.843879e+10,1.517585e+09,3.260163e+10
4,1964,NaN,NaN,1.294934e+10,1.878377e+10,1.549776e+09,3.329871e+10
5,1965,0.0,NaN,1.323753e+10,1.917767e+10,1.581610e+09,3.401303e+10
6,1966,NaN,NaN,1.356844e+10,1.954489e+10,1.634962e+09,3.476492e+10
7,1967,NaN,NaN,1.384890e+10,1.996080e+10,1.688033e+09,3.551476e+10
8,1968,NaN,NaN,1.410320e+10,2.042098e+10,1.741251e+09,3.628284e+10
9,1969,NaN,NaN,1.435947e+10,2.090678e+10,1.794466e+09,3.707854e+10
10,1970,0.0,NaN,1.462541e+10,2.140082e+10,1.846993e+09,3.789143e+10
11,1971,NaN,NaN,1.492759e+10,2.187299e+10,1.911867e+09,3.873104e+10
12,1972,NaN,NaN,1.521347e+10,2.234891e+10,1.973903e+09,3.955530e+10
13,1973,NaN,NaN,1.548715e+10,2.283746e+10,2.034273e+09,4.037831e+10
14,1974,NaN,NaN,1.573819e+10,2.334452e+10,2.094073e+09,4.119663e+10
15,1975,0.0,NaN,1.595658e+10,2.387064e+10,2.153575e+09,4.200106e+10
16,1976,0.0,NaN,1.617454e+10,2.437656e+10,2.225683e+09,4.279746e+10
17,1977,0.0,NaN,1.636056e+10,2.490989e+10,2.297709e+09,4.358925e+10
18,1978,0.0,NaN,1.652624e+10,2.547885e+10,2.368255e+09,4.439484e+10
19,1979,0.0,NaN,1.668272e+10,2.608174e+10,2.433694e+09,4.522009e+10

In [53]:
yearPivot.printSchema()

root
 |-- year: string (nullable = false)
 |-- IT.CEL.SETS: double (nullable = true)
 |-- IT.NET.BBND: double (nullable = true)
 |-- SP.POP.0014.TO: double (nullable = true)
 |-- SP.POP.1564.TO: double (nullable = true)
 |-- SP.POP.65UP.TO: double (nullable = true)
 |-- SP.POP.TOTL: double (nullable = true)

In [55]:
yearPivotDF = yearPivot.orderBy('year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population')

In [56]:
# You can iterate over a dataframe that is already computed by caching it onces and using it repeatedly
yearPivotDF.cache()

#Forces the data to be cached
yearPivotDF.count()

62

In [57]:
yearPivotDF.filter('population_age_0_to_14 < 0').count()

0

In [58]:
yearPivotDF.filter('population_age_15_64 < 0').count()

0

In [59]:
yearPivotDF.filter('population_age_65_and_above < 0').count()

0

In [60]:
yearPivotDF.filter('population < 0').count()

0

In [61]:
yearPivotDF.filter('cellular_subscriptions < 0').count()

0

In [62]:
yearPivotDF.filter('broadband_subscriptions < 0').count()

0

In [63]:
yearPivotDF.filter('population_age_0_to_14 > population').count()

0

In [64]:
yearPivotDF.filter('population_age_15_64 > population').count()

0

In [65]:
yearPivotDF.filter('population_age_65_and_above > population').count()

0

In [66]:
yearPivotDF.filter('(population_age_0_to_14 + population_age_15_64 + population_age_65_and_above) > population').count()

0

In [67]:
#Write the yearly totals to a CSV File
yearPivotDF \
    .select('year'
            , F.col('population').cast(DecimalType(38, 2))
            , F.col('population_age_0_to_14').cast(DecimalType(38, 2))
            , F.col('population_age_15_64').cast(DecimalType(38, 2))
            , F.col('population_age_65_and_above').cast(DecimalType(38, 2))
            , F.col('broadband_subscriptions').cast(DecimalType(38, 2))
            , F.col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('output/YearlyStats', mode='overwrite', header='true')

Getting yearly regional totals

In [73]:
regionalIndicators = indicatorsDF.join(countryDimFinal
                                       , indicatorsDF.wb_country_code == countryDim.wb_country_code
                                       , "inner") \
    .select(countryDim.region
            , indicatorsDF.wb_country_code
            , indicatorsDF.year
            , indicatorsDF.indicator_code
            , indicatorsDF.indicator_value)

In [74]:
regionalPivot = regionalIndicators.groupBy('region', 'year').pivot('indicator_code').sum('indicator_value')

In [75]:
showDF(regionalPivot.orderBy('region', 'year'), limitRows=100)

,region,year,IT.CEL.SETS,IT.NET.BBND,SP.POP.0014.TO,SP.POP.1564.TO,SP.POP.65UP.TO,SP.POP.TOTL
0,None,1960,0.000000e+00,NaN,1.095282e+10,1.641773e+10,1.297286e+09,2.868082e+10
1,None,1961,NaN,NaN,1.115085e+10,1.655578e+10,1.325576e+09,2.904543e+10
2,None,1962,NaN,NaN,1.142464e+10,1.676458e+10,1.354457e+09,2.955727e+10
3,None,1963,NaN,NaN,1.175093e+10,1.705343e+10,1.384791e+09,3.020309e+10
4,None,1964,NaN,NaN,1.205201e+10,1.737373e+10,1.413591e+09,3.085362e+10
5,None,1965,0.000000e+00,NaN,1.232290e+10,1.774128e+10,1.442054e+09,3.152088e+10
6,None,1966,NaN,NaN,1.263547e+10,1.808430e+10,1.491255e+09,3.222604e+10
7,None,1967,NaN,NaN,1.289914e+10,1.847366e+10,1.540245e+09,3.292842e+10
8,None,1968,NaN,NaN,1.313791e+10,1.890542e+10,1.589418e+09,3.364847e+10
9,None,1969,NaN,NaN,1.337932e+10,1.936133e+10,1.638569e+09,3.439530e+10
10,None,1970,0.000000e+00,NaN,1.363070e+10,1.982434e+10,1.687025e+09,3.515850e+10
11,None,1971,NaN,NaN,1.391711e+10,2.026499e+10,1.746787e+09,3.594567e+10
12,None,1972,NaN,NaN,1.418773e+10,2.070892e+10,1.803971e+09,3.671780e+10
13,None,1973,NaN,NaN,1.444653e+10,2.116428e+10,1.859632e+09,3.748799e+10
14,None,1974,NaN,NaN,1.468330e+10,2.163665e+10,1.914767e+09,3.825264e+10
15,None,1975,0.000000e+00,NaN,1.488818e+10,2.212653e+10,1.969621e+09,3.900263e+10
16,None,1976,0.000000e+00,NaN,1.509002e+10,2.259919e+10,2.036186e+09,3.974407e+10
17,None,1977,0.000000e+00,NaN,1.526133e+10,2.309704e+10,2.102641e+09,4.048006e+10
18,None,1978,0.000000e+00,NaN,1.541298e+10,2.362847e+10,2.167806e+09,4.122868e+10
19,None,1979,0.000000e+00,NaN,1.555506e+10,2.419199e+10,2.228448e+09,4.199531e+10
20,None,1980,1.643740e+05,NaN,1.569147e+10,2.477711e+10,2.282277e+09,4.277106e+10
21,None,1981,3.948430e+05,NaN,1.583730e+10,2.536994e+10,2.340015e+09,4.356785e+10
22,None,1982,6.097410e+05,NaN,1.599798e+10,2.599022e+10,2.390013e+09,4.439919e+10
23,None,1983,8.811210e+05,NaN,1.616144e+10,2.662266e+10,2.435238e+09,4.524071e+10
24,None,1984,1.796544e+06,NaN,1.632075e+10,2.725807e+10,2.480610e+09,4.608123e+10
25,None,1985,4.058062e+06,NaN,1.648397e+10,2.790251e+10,2.530182e+09,4.693891e+10
26,None,1986,7.838225e+06,NaN,1.671258e+10,2.849412e+10,2.593515e+09,4.782293e+10
27,None,1987,1.371336e+07,NaN,1.694276e+10,2.910681e+10,2.659224e+09,4.873199e+10
28,None,1988,2.327014e+07,NaN,1.717145e+10,2.972906e+10,2.727352e+09,4.965156e+10
29,None,1989,3.938226e+07,NaN,1.739079e+10,3.035648e+10,2.798376e+09,5.056982e+10
30,None,1990,6.085150e+07,NaN,1.760131e+10,3.100020e+10,2.873165e+09,5.149931e+10
31,None,1991,8.966970e+07,NaN,1.785208e+10,3.157222e+10,2.958423e+09,5.240782e+10
32,None,1992,1.299660e+08,NaN,1.804149e+10,3.217666e+10,3.047427e+09,5.329109e+10
33,None,1993,1.953725e+08,NaN,1.819627e+10,3.281465e+10,3.138088e+09,5.417492e+10
34,None,1994,3.254472e+08,NaN,1.833929e+10,3.345839e+10,3.225844e+09,5.504983e+10
35,None,1995,5.450387e+08,NaN,1.848343e+10,3.410310e+10,3.309014e+09,5.592223e+10
36,None,1996,8.885198e+08,NaN,1.856564e+10,3.478324e+10,3.407969e+09,5.678392e+10
37,None,1997,1.372889e+09,NaN,1.868362e+10,3.543514e+10,3.497698e+09,5.764385e+10
38,None,1998,2.088890e+09,8.459000e+05,1.880463e+10,3.608207e+10,3.582343e+09,5.849515e+10
39,None,1999,3.346237e+09,3.336286e+06,1.888338e+10,3.675991e+10,3.667869e+09,5.933506e+10
40,None,2000,5.281324e+09,6.392553e+07,1.890479e+10,3.748348e+10,3.757238e+09,6.016878e+10
41,None,2001,7.211755e+09,1.909957e+08,1.896296e+10,3.815660e+10,3.856337e+09,6.099923e+10
42,None,2002,9.079581e+09,3.751730e+08,1.896104e+10,3.888615e+10,3.958560e+09,6.182915e+10
43,None,2003,1.139913e+10,6.338633e+08,1.892601e+10,3.965253e+10,4.060616e+09,6.266263e+10
44,None,2004,1.469758e+10,1.039062e+09,1.890461e+10,4.041768e+10,4.155481e+09,6.350132e+10
45,None,2005,1.900144e+10,1.490714e+09,1.892173e+10,4.116044e+10,4.240414e+09,6.434619e+10
46,None,2006,2.426191e+10,1.991198e+09,1.897751e+10,4.185942e+10,4.336222e+09,6.519694e+10
47,None,2007,3.039204e+10,2.555962e+09,1.906525e+10,4.253994e+10,4.423685e+09,6.605284e+10
48,None,2008,3.709154e+10,3.095569e+09,1.918164e+10,4.320715e+10,4.508957e+09,6.692189e+10
49,None,2009,4.317485e+10,3.643811e+09,1.930785e+10,4.386429e+10,4.598834e+09,6.779529e+10
50,None,2010,4.984186e+10,4.171374e+09,1.943423e+10,4.451555e+10,4.698322e+09,6.867259e+10
51,None,2011,5.592462e+10,4.802385e+09,1.958343e+10,4.513191e+10,4.818474e+09,6.955848e+10
52,None,2012,5.998158e+10,5.279837e+09,1.973513e+10,4.577204e+10,4.949044e+09,7.048107e+10
53,None,2013,6.430747e+10,5.664630e+09,1.988701e+10,4.641150e+10,5.091297e+09,7.141480e+10
54,None,2014,6.772183e+10,6.011573e+09,2.004045e+10,4.703609e+10,5.249877e+09,7.235138e+10
55,None,2015,6.962964e+10,7.150559e+09,2.019438e+10,4.763901e+10,5.427879e+09,7.328597e+10
56,None,2016,7.280884e+10,7.920022e+09,2.035680e+10,4.820547e+10,5.637846e+09,7.422473e+10
57,None,2017,7.536907e+10,9.044838e+09,2.051620e+10,4.876196e+10,5.864928e+09,7.516787e+10
58,None,2018,7.674181e+10,9.451505e+09,2.066564e+10,4.929878e+10,6.100857e+09,7.609015e+10
59,None,2019,8.084976e+10,1.019242e+10,2.080142e+10,4.983010e+10,6.336214e+09,7.699255e+10
60,None,2020,8.156693e+10,1.104373e+10,2.092159e+10,5.036636e+10,6.567539e+09,7.788034e+10
61,None,2021,NaN,NaN,2.103378e+10,5.086278e+10,6.794933e+09,7.871655e+10
62,East Asia & Pacific,1960,0.000000e+00,NaN,1.307162e+08,1.967120e+08,1.467246e+07,3.421649e+08
63,East Asia & Pacific,1961,NaN,NaN,1.342636e+08,2.006306e+08,1.508250e+07,3.500427e+08
64,East Asia & Pacific,1962,NaN,NaN,1.375952e+08,2.050370e+08,1.549967e+07,3.581997e+08
65,East Asia & Pacific,1963,NaN,NaN,1.407616e+08,2.097619e+08,1.591555e+07,3.665090e+08
66,East Asia & Pacific,1964,NaN,NaN,1.439339e+08,2.146404e+08,1.633057e+07,3.749770e+08
67,East Asia & Pacific,1965,0.000000e+00,NaN,1.472250e+08,2.196196e+08,1.674751e+07,3.836663e+08
68,East Asia & Pacific,1966,NaN,NaN,1.506428e+08,2.243589e+08,1.729126e+07,3.923692e+08
69,East Asia & Pacific,1967,NaN,NaN,1.541530e+08,2.291994e+08,1.782376e+07,4.012545e+08
70,East Asia & Pacific,1968,NaN,NaN,1.577051e+08,2.342606e+08,1.836243e+07,4.104086e+08
71,East Asia & Pacific,1969,NaN,NaN,1.611620e+08,2.396281e+08,1.891442e+07,4.197872e+08
72,East Asia & Pacific,1970,0.000000e+00,NaN,1.644432e+08,2.452817e+08,1.947763e+07,4.292873e+08
73,East Asia & Pacific,1971,NaN,NaN,1.681233e+08,2.517074e+08,2.023530e+07,4.401532e+08
74,East Asia & Pacific,1972,NaN,NaN,1.713602e+08,2.577571e+08,2.090794e+07,4.501150e+08
75,East Asia & Pacific,1973,NaN,NaN,1.743883e+08,2.640788e+08,2.157466e+07,4.601340e+08
76,East Asia & Pacific,1974,NaN,NaN,1.771748e+08,2.706780e+08,2.225735e+07,4.702047e+08
77,East Asia & Pacific,1975,0.000000e+00,NaN,1.795566e+08,2.773203e+08,2.293796e+07,4.799116e+08
78,East Asia & Pacific,1976,0.000000e+00,NaN,1.819529e+08,2.833237e+08,2.379817e+07,4.891732e+08
79,East Asia & Pacific,1977,0.000000e+00,NaN,1.837983e+08,2.896626e+08,2.468552e+07,4.982465e+08
80,East Asia & Pacific,1978,0.000000e+00,NaN,1.852872e+08,2.963171e+08,2.558098e+07,5.072871e+08
81,East Asia & Pacific,1979,0.000000e+00,NaN,1.867423e+08,3.032990e+08,2.645125e+07,5.165966e+08
82,East Asia & Pacific,1980,0.000000e+00,NaN,1.882681e+08,3.104153e+08,2.726565e+07,5.260565e+08
83,East Asia & Pacific,1981,1.327500e+04,NaN,1.894369e+08,3.181675e+08,2.819578e+07,5.359120e+08
84,East Asia & Pacific,1982,1.980400e+04,NaN,1.909421e+08,3.258823e+08,2.904980e+07,5.459911e+08
85,East Asia & Pacific,1983,2.719800e+04,NaN,1.925130e+08,3.336315e+08,2.986612e+07,5.561335e+08
86,East Asia & Pacific,1984,4.314200e+04,NaN,1.937511e+08,3.416132e+08,3.070647e+07,5.662003e+08
87,East Asia & Pacific,1985,6.822900e+04,NaN,1.944877e+08,3.499271e+08,3.161810e+07,5.761697e+08
88,East Asia & Pacific,1986,1.283900e+05,NaN,1.955120e+08,3.577778e+08,3.264572e+07,5.860801e+08
89,East Asia & Pacific,1987,2.255250e+05,NaN,1.958831e+08,3.662144e+08,3.374322e+07,5.959935e+08
90,East Asia & Pacific,1988,4.208430e+05,NaN,1.958469e+08,3.749277e+08,3.490423e+07,6.058397e+08
91,East Asia & Pacific,1989,8.618320e+05,NaN,1.958646e+08,3.835195e+08,3.612329e+07,6.156755e+08
92,East Asia & Pacific,1990,1.544709e+06,NaN,1.961339e+08,3.916441e+08,3.738352e+07,6.253354e+08
93,East Asia & Pacific,1991,2.500963e+06,NaN,1.965301e+08,3.995683e+08,3.881522e+07,6.350916e+08
94,East Asia & Pacific,1992,3.495450e+06,NaN,1.972465e+08,4.069391e+08,4.025348e+07,6.446197e+08
95,East Asia & Pacific,1993,4.852549e+06,NaN,1.980904e+08,4.139955e+08,4.171838e+07,6.539867e+08
96,East Asia & Pacific,1994,9.098743e+06,NaN,1.986857e+08,4.211709e+08,4.324033e+07,6.632810e+08
97,East Asia & Pacific,1995,2.019611e+07,NaN,1.988123e+08,4.286210e+08,4.482990e+07,6.724498e+08
98,East Asia & Pacific,1996,4.145429e+07,NaN,1.990416e+08,4.359237e+08,4.656504e+07,6.817202e+08
99,East Asia & Pacific,1997,6.014753e+07,NaN,1.986616e+08,4.434361e+08,4.832169e+07,6.906132e+08

In [76]:
#Write the regional-yearly totals to a CSV File
regionalPivot.filter('region is not null') \
    .orderBy('region','year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population') \
    .select('region'
            , F.col('year')
            , F.col('population').cast(DecimalType(38, 2))
            , F.col('population_age_0_to_14').cast(DecimalType(38, 2))
            , F.col('population_age_15_64').cast(DecimalType(38, 2))
            , F.col('population_age_65_and_above').cast(DecimalType(38, 2))
            , F.col('broadband_subscriptions').cast(DecimalType(38, 2))
            , F.col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('output/RegionalStats', mode='overwrite', header='true')

Becky finds the regional metrics interesting, but she wants to look at these metrics at a country level for each year. Can you adapt the regional pivot that we computed earlier to get the metrics for each year and country ?

In [78]:
countryIndicators = indicatorsDF.join(countryDimFinal
                                       , indicatorsDF.wb_country_code == countryDim.wb_country_code
                                       , "inner") \
    .select(indicatorsDF.wb_country_code
            , countryDim.country_iso_code
            , countryDim.name
            , indicatorsDF.year
            , indicatorsDF.indicator_code
            , indicatorsDF.indicator_value)

showDF(countryIndicators)

,wb_country_code,country_iso_code,name,year,indicator_code,indicator_value
0,AFE,ZH,Africa Eastern and Southern,1960,IT.NET.BBND,NaN
1,AFE,ZH,Africa Eastern and Southern,1961,IT.NET.BBND,NaN
2,AFE,ZH,Africa Eastern and Southern,1962,IT.NET.BBND,NaN
3,AFE,ZH,Africa Eastern and Southern,1963,IT.NET.BBND,NaN
4,AFE,ZH,Africa Eastern and Southern,1964,IT.NET.BBND,NaN
5,AFE,ZH,Africa Eastern and Southern,1965,IT.NET.BBND,NaN
6,AFE,ZH,Africa Eastern and Southern,1966,IT.NET.BBND,NaN
7,AFE,ZH,Africa Eastern and Southern,1967,IT.NET.BBND,NaN
8,AFE,ZH,Africa Eastern and Southern,1968,IT.NET.BBND,NaN
9,AFE,ZH,Africa Eastern and Southern,1969,IT.NET.BBND,NaN
10,AFE,ZH,Africa Eastern and Southern,1970,IT.NET.BBND,NaN
11,AFE,ZH,Africa Eastern and Southern,1971,IT.NET.BBND,NaN
12,AFE,ZH,Africa Eastern and Southern,1972,IT.NET.BBND,NaN
13,AFE,ZH,Africa Eastern and Southern,1973,IT.NET.BBND,NaN
14,AFE,ZH,Africa Eastern and Southern,1974,IT.NET.BBND,NaN
15,AFE,ZH,Africa Eastern and Southern,1975,IT.NET.BBND,NaN
16,AFE,ZH,Africa Eastern and Southern,1976,IT.NET.BBND,NaN
17,AFE,ZH,Africa Eastern and Southern,1977,IT.NET.BBND,NaN
18,AFE,ZH,Africa Eastern and Southern,1978,IT.NET.BBND,NaN
19,AFE,ZH,Africa Eastern and Southern,1979,IT.NET.BBND,NaN

In [80]:
countryPivot = countryIndicators.groupBy('country_iso_code', 'name', 'year') \
    .pivot('indicator_code').sum('indicator_value')

In [83]:
showDF(countryPivot.orderBy('country_iso_code', 'name', 'year'), limitRows=100)

,country_iso_code,name,year,IT.CEL.SETS,IT.NET.BBND,SP.POP.0014.TO,SP.POP.1564.TO,SP.POP.65UP.TO,SP.POP.TOTL
0,1A,Arab World,1960,0.0,NaN,3.990027e+07,4.906322e+07,3234225.0,9.219772e+07
1,1A,Arab World,1961,NaN,NaN,4.133972e+07,5.003221e+07,3352609.0,9.472454e+07
2,1A,Arab World,1962,NaN,NaN,4.279288e+07,5.107209e+07,3469470.0,9.733444e+07
3,1A,Arab World,1963,NaN,NaN,4.424895e+07,5.220046e+07,3584776.0,1.000342e+08
4,1A,Arab World,1964,NaN,NaN,4.568530e+07,5.344922e+07,3698270.0,1.028328e+08
5,1A,Arab World,1965,0.0,NaN,4.708985e+07,5.483664e+07,3809935.0,1.057364e+08
6,1A,Arab World,1966,NaN,NaN,4.866839e+07,5.615092e+07,3939319.0,1.087586e+08
7,1A,Arab World,1967,NaN,NaN,5.018467e+07,5.764845e+07,4066217.0,1.118993e+08
8,1A,Arab World,1968,NaN,NaN,5.165773e+07,5.928679e+07,4191645.0,1.151362e+08
9,1A,Arab World,1969,NaN,NaN,5.310829e+07,6.101224e+07,4316656.0,1.184372e+08
10,1A,Arab World,1970,0.0,NaN,5.454215e+07,6.280120e+07,4442280.0,1.217856e+08
11,1A,Arab World,1971,NaN,NaN,5.613170e+07,6.444558e+07,4587447.0,1.251647e+08
12,1A,Arab World,1972,NaN,NaN,5.766822e+07,6.619852e+07,4732009.0,1.285987e+08
13,1A,Arab World,1973,NaN,NaN,5.920111e+07,6.808460e+07,4875588.0,1.321613e+08
14,1A,Arab World,1974,NaN,NaN,6.079685e+07,7.013819e+07,5017224.0,1.359523e+08
15,1A,Arab World,1975,0.0,NaN,6.250571e+07,7.237753e+07,5157335.0,1.400406e+08
16,1A,Arab World,1976,0.0,NaN,6.440912e+07,7.472836e+07,5315788.0,1.444533e+08
17,1A,Arab World,1977,0.0,NaN,6.641100e+07,7.727872e+07,5472123.0,1.491618e+08
18,1A,Arab World,1978,0.0,NaN,6.848723e+07,7.999613e+07,5627797.0,1.541112e+08
19,1A,Arab World,1979,0.0,NaN,7.058885e+07,8.284499e+07,5784698.0,1.592185e+08
20,1A,Arab World,1980,0.0,NaN,7.267635e+07,8.580016e+07,5944263.0,1.644208e+08
21,1A,Arab World,1981,0.0,NaN,7.487530e+07,8.869982e+07,6123853.0,1.696990e+08
22,1A,Arab World,1982,2330.0,NaN,7.704367e+07,9.171632e+07,6301811.0,1.750618e+08
23,1A,Arab World,1983,3564.0,NaN,7.918598e+07,9.483974e+07,6480241.0,1.805060e+08
24,1A,Arab World,1984,4936.0,NaN,8.131315e+07,9.806018e+07,6661954.0,1.860353e+08
25,1A,Arab World,1985,7976.0,NaN,8.342752e+07,1.013729e+08,6849912.0,1.916503e+08
26,1A,Arab World,1986,20756.0,NaN,8.573766e+07,1.045350e+08,7065460.0,1.973381e+08
27,1A,Arab World,1987,33793.0,NaN,8.797746e+07,1.078199e+08,7287560.0,2.030850e+08
28,1A,Arab World,1988,39447.0,NaN,9.016176e+07,1.112088e+08,7519114.0,2.088897e+08
29,1A,Arab World,1989,58750.0,NaN,9.228442e+07,1.147063e+08,7763206.0,2.147540e+08
30,1A,Arab World,1990,88618.0,NaN,9.527698e+07,1.193121e+08,8064277.0,2.226534e+08
31,1A,Arab World,1991,129904.0,NaN,9.724268e+07,1.231187e+08,8370338.0,2.287317e+08
32,1A,Arab World,1992,152281.0,NaN,9.846825e+07,1.258308e+08,8657337.0,2.329564e+08
33,1A,Arab World,1993,199350.0,NaN,1.002225e+08,1.300388e+08,8982024.0,2.392433e+08
34,1A,Arab World,1994,263401.0,NaN,1.017682e+08,1.343678e+08,9313402.0,2.454494e+08
35,1A,Arab World,1995,501551.0,NaN,1.035753e+08,1.398595e+08,9672492.0,2.531073e+08
36,1A,Arab World,1996,921229.0,NaN,1.048058e+08,1.441792e+08,10015939.0,2.590009e+08
37,1A,Arab World,1997,1616551.0,NaN,1.058867e+08,1.485823e+08,10353214.0,2.648222e+08
38,1A,Arab World,1998,2523542.0,NaN,1.068452e+08,1.530452e+08,10685323.0,2.705758e+08
39,1A,Arab World,1999,4105508.0,NaN,1.077524e+08,1.576263e+08,11015111.0,2.763938e+08
40,1A,Arab World,2000,9035241.0,NaN,1.086316e+08,1.623677e+08,11344828.0,2.823441e+08
41,1A,Arab World,2001,16679594.0,NaN,1.094353e+08,1.673248e+08,11672023.0,2.884322e+08
42,1A,Arab World,2002,25275663.0,NaN,1.102056e+08,1.724625e+08,11997114.0,2.946652e+08
43,1A,Arab World,2003,35121269.0,NaN,1.109946e+08,1.777990e+08,12320307.0,3.011139e+08
44,1A,Arab World,2004,52132873.0,365937.0,1.118714e+08,1.833530e+08,12638464.0,3.078628e+08
45,1A,Arab World,2005,84854418.0,861800.0,1.128867e+08,1.891263e+08,12952804.0,3.149658e+08
46,1A,Arab World,2006,125958922.0,1545499.0,1.139795e+08,1.951837e+08,13289587.0,3.224528e+08
47,1A,Arab World,2007,174488139.0,2811961.0,1.152315e+08,2.014426e+08,13616630.0,3.302908e+08
48,1A,Arab World,2008,214062549.0,4235468.0,1.166618e+08,2.077879e+08,13946302.0,3.383959e+08
49,1A,Arab World,2009,265298629.0,5845325.0,1.182674e+08,2.140688e+08,14292986.0,3.466292e+08
50,1A,Arab World,2010,312247800.0,7123797.0,1.200390e+08,2.201833e+08,14667787.0,3.548901e+08
51,1A,Arab World,2011,351957968.0,8570787.0,1.219339e+08,2.261422e+08,15080808.0,3.631568e+08
52,1A,Arab World,2012,381641858.0,10323586.0,1.240056e+08,2.319236e+08,15508463.0,3.714376e+08
53,1A,Arab World,2013,407704505.0,8880291.0,1.262106e+08,2.375227e+08,15963198.0,3.796965e+08
54,1A,Arab World,2014,415029432.0,10801834.0,1.284472e+08,2.429867e+08,16465991.0,3.878998e+08
55,1A,Arab World,2015,419013963.0,18081304.0,1.306295e+08,2.483654e+08,17033363.0,3.960283e+08
56,1A,Arab World,2016,417212258.0,20019879.0,1.331965e+08,2.531713e+08,17675107.0,4.040429e+08
57,1A,Arab World,2017,416484374.0,28218281.0,1.354823e+08,2.580814e+08,18379135.0,4.119428e+08
58,1A,Arab World,2018,411117427.0,30067212.0,1.376280e+08,2.630875e+08,19136464.0,4.198520e+08
59,1A,Arab World,2019,421459796.0,33114238.0,1.397829e+08,2.681579e+08,19929502.0,4.278703e+08
60,1A,Arab World,2020,423344019.0,38898085.0,1.420035e+08,2.733236e+08,20753658.0,4.360807e+08
61,1A,Arab World,2021,NaN,NaN,1.440012e+08,2.788425e+08,21674036.0,4.445178e+08
62,1W,World,1960,0.0,NaN,1.126566e+09,1.753555e+09,150633690.0,3.032156e+09
63,1W,World,1961,NaN,NaN,1.146759e+09,1.769384e+09,154023180.0,3.071596e+09
64,1W,World,1962,NaN,NaN,1.173476e+09,1.792141e+09,157478382.0,3.124561e+09
65,1W,World,1963,NaN,NaN,1.204620e+09,1.822466e+09,161066505.0,3.189656e+09
66,1W,World,1964,NaN,NaN,1.233296e+09,1.855792e+09,164516743.0,3.255146e+09
67,1W,World,1965,0.0,NaN,1.259110e+09,1.893424e+09,167934244.0,3.322047e+09
68,1W,World,1966,NaN,NaN,1.288632e+09,1.928452e+09,173397291.0,3.392098e+09
69,1W,World,1967,NaN,NaN,1.313422e+09,1.967722e+09,178820397.0,3.461620e+09
70,1W,World,1968,NaN,NaN,1.335822e+09,2.011010e+09,184257318.0,3.532783e+09
71,1W,World,1969,NaN,NaN,1.358383e+09,2.056731e+09,189708271.0,3.606554e+09
72,1W,World,1970,0.0,NaN,1.381778e+09,2.103319e+09,195108426.0,3.681976e+09
73,1W,World,1971,NaN,NaN,1.408244e+09,2.148672e+09,201794523.0,3.760517e+09
74,1W,World,1972,NaN,NaN,1.433034e+09,2.193875e+09,208145557.0,3.836901e+09
75,1W,World,1973,NaN,NaN,1.456625e+09,2.240153e+09,214321972.0,3.912984e+09
76,1W,World,1974,NaN,NaN,1.477990e+09,2.288129e+09,220445210.0,3.988487e+09
77,1W,World,1975,0.0,NaN,1.496155e+09,2.337851e+09,226540705.0,4.062507e+09
78,1W,World,1976,0.0,NaN,1.514176e+09,2.385362e+09,233893891.0,4.135432e+09
79,1W,World,1977,0.0,NaN,1.529015e+09,2.435474e+09,241260067.0,4.207786e+09
80,1W,World,1978,0.0,NaN,1.541827e+09,2.488945e+09,248491687.0,4.281339e+09
81,1W,World,1979,0.0,NaN,1.553828e+09,2.545630e+09,255204029.0,4.356778e+09
82,1W,World,1980,23482.0,NaN,1.565443e+09,2.604263e+09,261101284.0,4.432964e+09
83,1W,World,1981,63585.0,NaN,1.577945e+09,2.663755e+09,267266455.0,4.511164e+09
84,1W,World,1982,101509.0,NaN,1.592069e+09,2.725600e+09,272479750.0,4.592387e+09
85,1W,World,1983,148855.0,NaN,1.606576e+09,2.788328e+09,277144402.0,4.674330e+09
86,1W,World,1984,319252.0,NaN,1.620614e+09,2.851151e+09,281902607.0,4.755997e+09
87,1W,World,1985,750629.0,NaN,1.634833e+09,2.914715e+09,287249869.0,4.839177e+09
88,1W,World,1986,1450136.0,NaN,1.655397e+09,2.972772e+09,294144793.0,4.924748e+09
89,1W,World,1987,2545270.0,NaN,1.675814e+09,3.032844e+09,301407523.0,5.012556e+09
90,1W,World,1988,4327956.0,NaN,1.695923e+09,3.093810e+09,309002855.0,5.101288e+09
91,1W,World,1989,7353071.0,NaN,1.715226e+09,3.155232e+09,316910626.0,5.189977e+09
92,1W,World,1990,11210115.0,NaN,1.734022e+09,3.218211e+09,325168639.0,5.280063e+09
93,1W,World,1991,16276503.0,NaN,1.756500e+09,3.274403e+09,334528596.0,5.368140e+09
94,1W,World,1992,23245154.0,NaN,1.773095e+09,3.332572e+09,344160101.0,5.452577e+09
95,1W,World,1993,34163482.0,NaN,1.786860e+09,3.394342e+09,353893707.0,5.537885e+09
96,1W,World,1994,55511640.0,NaN,1.799326e+09,3.456641e+09,363289219.0,5.622085e+09
97,1W,World,1995,90743607.0,NaN,1.811875e+09,3.519786e+09,372224770.0,5.706754e+09
98,1W,World,1996,145042295.0,NaN,1.818373e+09,3.585670e+09,382704184.0,5.789655e+09
99,1W,World,1997,214953349.0,NaN,1.827836e+09,3.649230e+09,392273082.0,5.872284e+09

In [86]:
#Write the country-yearly totals to a CSV File
countryPivot.filter('country_iso_code is not null') \
    .orderBy('country_iso_code','name', 'year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population') \
    .select('country_iso_code'
            , 'name'
            , 'year'
            , F.col('population').cast(DecimalType(38, 2))
            , F.col('population_age_0_to_14').cast(DecimalType(38, 2))
            , F.col('population_age_15_64').cast(DecimalType(38, 2))
            , F.col('population_age_65_and_above').cast(DecimalType(38, 2))
            , F.col('broadband_subscriptions').cast(DecimalType(38, 2))
            , F.col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('output/CountryStats', mode='overwrite', header='true')

Business Environment Analysis:

Kat wants to identify the countries that are conducive to starting a business. She is interested in the most recent metrics for the following indicators:

Gross National Income (GNI)

Cost of business start-up procedures

Number of days required to start a business

Number of start-up procedures to register a business

GDP

GDP per capita

Business Regulatory Environment

Ease of doing business index (available only for 2017)

The data should be written to a CSV file.

In [87]:
businessIndicators = seriesDim.filter(
    (F.lower(F.col("indicator_name")).like("%start%up%procedures%") |
     F.lower(F.col("indicator_name")).like("%start%business%") |
     F.lower(F.col("indicator_name")).like("%business%regulatory%environment%") |
     F.lower(F.col("indicator_name")).like("%gdp%constant%us%") |
     F.lower(F.col("indicator_name")).like("%gdp%per%capita%constant%us%") |
     F.lower(F.col("indicator_name")).like("%gni, atlas%us%")) &
    ~F.lower(F.col("indicator_name")).contains(", female") &
    ~F.lower(F.col("indicator_name")).contains(", male")
)
showDF(businessIndicators)
businessIndicators.count()

,indicator_code,indicator_name,periodicity,Aggregation_method
0,IC.REG.COST.PC.ZS,Cost of business start-up procedures (% of GNI...,Annual,Unweighted average
1,IC.REG.DURS,Time required to start a business (days),Annual,Unweighted average
2,IC.REG.PROC,Start-up procedures to register a business (nu...,Annual,Unweighted average
3,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1...,Annual,Unweighted average
4,NY.GDP.MKTP.KD,GDP (constant 2015 US$),Annual,Gap-filled total
5,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),Annual,Weighted average
6,NY.GNP.ATLS.CD,"GNI, Atlas method (current US$)",Annual,Gap-filled total

7

In [88]:
businessIndicatorsData = indicatorsData.join(businessIndicators, indicatorsData.indicator_code == businessIndicators.indicator_code).drop(businessIndicators.indicator_code)
showDF(businessIndicatorsData)

,wb_country_code,indicator_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2015,2016,2017,2018,2019,2020,2021,indicator_name,periodicity,Aggregation_method
0,AFE,IC.REG.COST.PC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.509615e+01,5.563077e+01,5.107692e+01,4.173846e+01,3.423077e+01,NaN,NaN,Cost of business start-up procedures (% of GNI...,Annual,Unweighted average
1,AFE,IQ.CPA.BREG.XQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.027778e+00,3.027778e+00,2.973684e+00,3.027778e+00,2.921053e+00,2.921053e+00,NaN,CPIA business regulatory environment rating (1...,Annual,Unweighted average
2,AFE,NY.GDP.MKTP.KD,1.538294e+11,1.541980e+11,1.665041e+11,1.751030e+11,1.831226e+11,1.928789e+11,2.004245e+11,2.109604e+11,...,9.242525e+11,9.447434e+11,9.689017e+11,9.929813e+11,1.013099e+12,9.838518e+11,1.026194e+12,GDP (constant 2015 US$),Annual,Gap-filled total
3,AFE,NY.GDP.PCAP.KD,1.175735e+03,1.149361e+03,1.209930e+03,1.240088e+03,1.263610e+03,1.296491e+03,1.312085e+03,1.344755e+03,...,1.556316e+03,1.548813e+03,1.546796e+03,1.544078e+03,1.534890e+03,1.452730e+03,1.477249e+03,GDP per capita (constant 2015 US$),Annual,Weighted average
4,AFE,NY.GNP.ATLS.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.476731e+11,9.003166e+11,9.142314e+11,9.421241e+11,9.945128e+11,9.464769e+11,1.025115e+12,"GNI, Atlas method (current US$)",Annual,Gap-filled total
5,AFE,IC.REG.PROC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.307692e+00,8.884615e+00,8.461538e+00,8.346154e+00,8.307692e+00,NaN,NaN,Start-up procedures to register a business (nu...,Annual,Unweighted average
6,AFE,IC.REG.DURS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.203846e+01,3.157692e+01,2.928846e+01,2.782692e+01,2.682692e+01,NaN,NaN,Time required to start a business (days),Annual,Unweighted average
7,AFW,IC.REG.COST.PC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.360000e+01,5.743636e+01,5.352273e+01,4.801364e+01,3.874545e+01,NaN,NaN,Cost of business start-up procedures (% of GNI...,Annual,Unweighted average
8,AFW,IQ.CPA.BREG.XQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.150000e+00,3.100000e+00,3.075000e+00,3.025000e+00,3.025000e+00,3.050000e+00,NaN,CPIA business regulatory environment rating (1...,Annual,Unweighted average
9,AFW,NY.GDP.MKTP.KD,1.048446e+11,1.067829e+11,1.108089e+11,1.188674e+11,1.252819e+11,1.303555e+11,1.280260e+11,1.158040e+11,...,7.607345e+11,7.617070e+11,7.793610e+11,8.023692e+11,8.280654e+11,8.206375e+11,8.527638e+11,GDP (constant 2015 US$),Annual,Gap-filled total
10,AFW,NY.GDP.PCAP.KD,1.087640e+03,1.085113e+03,1.102499e+03,1.157521e+03,1.193690e+03,1.214984e+03,1.167036e+03,1.032159e+03,...,1.894322e+03,1.846333e+03,1.839113e+03,1.843555e+03,1.852862e+03,1.788647e+03,1.810928e+03,GDP per capita (constant 2015 US$),Annual,Weighted average
11,AFW,NY.GNP.ATLS.CD,NaN,NaN,1.142575e+10,1.254373e+10,1.345594e+10,1.428595e+10,1.492755e+10,1.444969e+10,...,8.053043e+11,7.352384e+11,6.829043e+11,7.015332e+11,7.460224e+11,7.577380e+11,8.141137e+11,"GNI, Atlas method (current US$)",Annual,Gap-filled total
12,AFW,IC.REG.PROC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.681818e+00,7.363636e+00,7.045455e+00,6.772727e+00,6.636364e+00,NaN,NaN,Start-up procedures to register a business (nu...,Annual,Unweighted average
13,AFW,IC.REG.DURS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.517273e+01,2.420000e+01,1.790455e+01,1.774545e+01,1.525909e+01,NaN,NaN,Time required to start a business (days),Annual,Unweighted average
14,ARB,IC.REG.COST.PC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.878636e+01,3.828182e+01,3.361364e+01,3.456818e+01,2.779545e+01,NaN,NaN,Cost of business start-up procedures (% of GNI...,Annual,Unweighted average
15,ARB,IQ.CPA.BREG.XQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.800000e+00,2.800000e+00,2.583333e+00,2.900000e+00,2.416667e+00,2.416667e+00,NaN,CPIA business regulatory environment rating (1...,Annual,Unweighted average
16,ARB,NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.518701e+12,2.598673e+12,2.630964e+12,2.693157e+12,2.735879e+12,2.597680e+12,2.689385e+12,GDP (constant 2015 US$),Annual,Gap-filled total
17,ARB,NY.GDP.PCAP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.359901e+03,6.431676e+03,6.386722e+03,6.414540e+03,6.394179e+03,5.956878e+03,6.050119e+03,GDP per capita (constant 2015 US$),Annual,Weighted average
18,ARB,NY.GNP.ATLS.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.770420e+12,2.651921e+12,2.532787e+12,2.652001e+12,2.785018e+12,2.630381e+12,NaN,"GNI, Atlas method (current US$)",Annual,Gap-filled total
19,ARB,IC.REG.PROC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.727273e+00,8.500000e+00,7.954545e+00,7.318182e+00,6.636364e+00,NaN,NaN,Start-up procedures to register a business (nu...,Annual,Unweighted average

In [89]:
recentIndicatorsData = businessIndicatorsData \
                        .select("wb_country_code", "indicator_code",'2019') \
                        .withColumnRenamed("2019", "indicator_value") \
                        .withColumn("indicator_value", F.col("indicator_value").cast(DecimalType(38, 2)))
showDF(recentIndicatorsData)

   wb_country_code     indicator_code   indicator_value
0              AFE  IC.REG.COST.PC.ZS             34.23
1              AFE     IQ.CPA.BREG.XQ              2.92
2              AFE     NY.GDP.MKTP.KD  1013098519257.66
3              AFE     NY.GDP.PCAP.KD           1534.89
4              AFE     NY.GNP.ATLS.CD   994512787038.08
5              AFE        IC.REG.PROC              8.31
6              AFE        IC.REG.DURS             26.83
7              AFW  IC.REG.COST.PC.ZS             38.75
8              AFW     IQ.CPA.BREG.XQ              3.03
9              AFW     NY.GDP.MKTP.KD   828065395939.52
10             AFW     NY.GDP.PCAP.KD           1852.86
11             AFW     NY.GNP.ATLS.CD   746022427352.90
12             AFW        IC.REG.PROC              6.64
13             AFW        IC.REG.DURS             15.26
14             ARB  IC.REG.COST.PC.ZS             27.80
15             ARB     IQ.CPA.BREG.XQ              2.42
16             ARB     NY.GDP.MKTP.KD  2735879327632.46
17             ARB     NY.GDP.PCAP.KD           6394.18
18             ARB     NY.GNP.ATLS.CD  2785018324949.32
19             ARB        IC.REG.PROC              6.64

In [97]:
businessIndicatorsCount = recentIndicatorsData.groupBy("wb_country_code").agg(F.count("*").alias("cnt")).filter("cnt>9")
showDF(businessIndicatorsCount)

Empty DataFrame
Columns: [wb_country_code, cnt]
Index: []

In [98]:
countryBusinessIndicator = recentIndicatorsData.join(countryDimFinal, recentIndicatorsData.wb_country_code == countryDimFinal.wb_country_code)
showDF(countryBusinessIndicator)

,wb_country_code,indicator_code,indicator_value,country_iso_code,wb_country_code,name,long_name,region,income_group
0,AFE,IC.REG.COST.PC.ZS,34.23,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
1,AFE,IQ.CPA.BREG.XQ,2.92,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
2,AFE,NY.GDP.MKTP.KD,1013098519257.66,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
3,AFE,NY.GDP.PCAP.KD,1534.89,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
4,AFE,NY.GNP.ATLS.CD,994512787038.08,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
5,AFE,IC.REG.PROC,8.31,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
6,AFE,IC.REG.DURS,26.83,ZH,AFE,Africa Eastern and Southern,Africa Eastern and Southern,None,None
7,AFW,IC.REG.COST.PC.ZS,38.75,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
8,AFW,IQ.CPA.BREG.XQ,3.03,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
9,AFW,NY.GDP.MKTP.KD,828065395939.52,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
10,AFW,NY.GDP.PCAP.KD,1852.86,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
11,AFW,NY.GNP.ATLS.CD,746022427352.90,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
12,AFW,IC.REG.PROC,6.64,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
13,AFW,IC.REG.DURS,15.26,ZI,AFW,Africa Western and Central,Africa Western and Central,None,None
14,ARB,IC.REG.COST.PC.ZS,27.80,1A,ARB,Arab World,Arab World,None,None
15,ARB,IQ.CPA.BREG.XQ,2.42,1A,ARB,Arab World,Arab World,None,None
16,ARB,NY.GDP.MKTP.KD,2735879327632.46,1A,ARB,Arab World,Arab World,None,None
17,ARB,NY.GDP.PCAP.KD,6394.18,1A,ARB,Arab World,Arab World,None,None
18,ARB,NY.GNP.ATLS.CD,2785018324949.32,1A,ARB,Arab World,Arab World,None,None
19,ARB,IC.REG.PROC,6.64,1A,ARB,Arab World,Arab World,None,None

In [99]:
countryBusinessStartupPivot = countryBusinessIndicator \
                                .select("country_iso_code" \
                                        ,"name" \
                                        ,"indicator_code" \
                                        ,"indicator_value") \
                                .groupBy("country_iso_code","name").pivot("indicator_code").sum("indicator_value") \
                                .withColumnRenamed("country_iso_code", "Country ISO Code") \
                                .withColumnRenamed("name", "Country Name") \
                                .withColumnRenamed("IC.REG.COST.PC.ZS", "Startup Cost Pct of GNI") \
                                .withColumnRenamed("IC.REG.DURS", "Startup Time") \
                                .withColumnRenamed("IC.REG.PROC","Startup Procedures") \
                                .withColumnRenamed("IQ.CPA.BREG.XQ","Business Regulation") \
                                .withColumnRenamed("NY.GDP.MKTP.KD", "GDP") \
                                .withColumnRenamed("NY.GDP.PCAP.KD", "GDP per capita") \
                                .withColumnRenamed("NY.GNP.ATLS.CD","GNI") \
                                .withColumn('Startup Cost', (F.col('GNI') * F.col('Startup Cost Pct of GNI') / F.lit(100.0)).cast(DecimalType(38, 2))) \
                                .filter(F.col('GNI') > 0) \
                                .filter(F.col("Startup Cost").isNotNull())
                                
showDF(countryBusinessStartupPivot)

,Country ISO Code,Country Name,Startup Cost Pct of GNI,Startup Time,Startup Procedures,Business Regulation,GDP,GDP per capita,GNI,Startup Cost
0,BJ,Benin,3.50,8.50,6.00,3.50,14179807326.72,1201.56,14803390762.06,518118676.67
1,XC,Euro area,3.21,9.82,5.05,None,12623114142874.70,36879.14,13798162524579.10,442921017038.99
2,LY,Libya,24.60,35.00,10.00,None,60950218438.49,8993.09,69161249722.12,17013667431.64
3,KZ,Kazakhstan,0.20,5.00,4.00,None,211106972039.01,11402.76,163361654737.11,326723309.47
4,JM,Jamaica,4.20,3.00,2.00,None,14934128282.74,5065.37,15466765494.66,649604150.78
5,NO,Norway,0.80,4.00,4.00,None,406468037614.96,76005.22,436746877155.38,3493975017.24
6,AG,Antigua and Barbuda,8.00,19.00,9.00,None,1630215842.30,16786.45,1594604632.72,127568370.62
7,IR,Iran,1.10,72.50,10.00,None,440183212449.35,5308.92,353025324793.28,3883278572.73
8,CG,Congo,62.20,49.50,11.00,2.00,9647394773.66,1793.03,9746848755.23,6062539925.75
9,EU,European Union,3.20,12.17,5.37,None,14772269194026.80,33032.96,16101472914830.00,515247133274.56
10,AR,Argentina,5.00,11.50,12.00,None,571304530654.92,12712.97,506161996612.64,25308099830.63
11,HT,Haiti,179.70,97.00,12.00,2.00,15474153940.15,1373.88,15626724070.54,28081223154.76
12,QA,Qatar,6.30,8.70,8.00,None,167515127917.18,59149.34,173269092486.30,10915952826.64
13,XE,Heavily indebted poor countries (HIPC),44.37,22.54,7.26,2.86,821855972179.45,1025.13,795744512417.00,353071840159.42
14,BB,Barbados,7.30,16.00,7.00,None,4787093962.03,16678.55,4915707228.49,358846627.68
15,LT,Lithuania,0.50,5.50,4.00,None,48174429493.23,17241.26,53267968808.46,266339844.04
16,S4,Other small states,15.83,15.58,7.23,3.05,403195694802.60,12856.51,426308417509.05,67484622491.68
17,SL,Sierra Leone,7.60,8.00,5.00,3.00,5076711739.04,649.76,4158883999.26,316075183.94
18,OM,Oman,3.10,4.30,4.00,None,83053174485.83,16694.13,81743368604.87,2534044426.75
19,PK,Pakistan,6.70,16.50,5.00,3.50,324411993155.44,1497.99,349836038441.43,23439014575.58

In [100]:
#write the business startup data to an output csv file
countryBusinessStartupPivot \
    .select("Country ISO Code", "Country Name", "GDP", "GDP Per Capita", "GNI", \
            "Startup Cost", "Startup Cost Pct of GNI", "Startup Time", "Startup Procedures", \
            "Business Regulation") \
    .coalesce(1) \
    .write.csv('output/BusinessStartupData', mode='overwrite', header='true')